[2021-02-10 10:09] JostSchenck opened #2998 "build_runner hangs on "Creating build script snapshot......""
Dart SDK version: 2.12.0-259.8.beta (beta) (Tue Feb 2 15:59:29 2021 +0100) on "windows_x64"
using build_runner: ^1.11.1

Since some time, in a project of mine build_runner hangs on "Creating build script snapshot......" forever (hours). The only builder I'm using is from objectbox_generator package; it worked before (version 0.10.0), but even if I revert from version 0.11.0 back to it, build_runne

[2021-02-10 16:29] jakemac53 commented on #2998
Can you try manually snapshotting the build script? You can do this with the following command:

`dart --snapshot=test.dart.snapshot $(pub run build_runner generate-build-script)`

[2021-02-10 17:33] bshlomo commented on #2993
Hi
it happed twice today
every time I am running  the webdev build after some time, in the first run, I am getting this error,
if running again immediately, it will overcome the problem

My IDE is  - (not mentioned before)
IntelliJ IDEA 2020.3.2 (Community Edition)
Build #IC-203.7148.57, built on January 26, 2021
Runtime version: 11.0.9.1+11-b1145.77 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains

[2021-02-10 17:41] JostSchenck commented on #2998
Thank you! I tried (`dart --snapshot=test.dart.snapshot $(flutter pub run build_runner generate-build-script)`). I have no idea why, because I didn't change anything knowingly, but my app as well as the test app I created now complain because of missing null safety. I tried adding a `--no-sound-null-safety`, but this didn't help.

[code]

[2021-02-10 20:20] jakemac53 commented on #2998
That is very weird.... build_runner should be on language version `2.10` and not be opted in to null safety.

[2021-02-10 22:06] cyanglaz commented on #2920
Looks like the `in_app_purchase` plugin depends `build_runner`. We are trying to migrate the plugin to null safety but we can't with the current dependency.
See: https://github.com/flutter/plugins/blob/master/packages/in_app_purchase/pubspec.yaml#L15

[2021-02-10 22:25] simolus3 commented on #2920
Note that your migration isn't actually blocked if you're only using build dependencies that you don't import (e.g. `build_runner`). Only the non-dev dependencies that you typically use in your Dart code are necessary.

This issue mainly tracks changes needed to allow _builder authors_ to migrate their package, most _builder users_ can migrate today.

[2021-02-11 08:30] JostSchenck commented on #2998
I have no idea what happened, but after deleting `AppData/Pub/Cache`, at least creating the snapshot manually `dart --snapshot=test.dart.snapshot $(flutter pub run build_runner generate-build-script)` worked (without explicit `--no-null-safety`).

However, `flutter pub run build_runner build` will still just hang on "Creating build script snapshot".

[2021-02-11 19:36] SantiRey commented on #2835
i have change to master and that problem is solved.

[2021-02-12 16:05] jakemac53 commented on #2998
Can you link a full repro via a gist or github repo or something that we can use to try and use to diagnose this?

[2021-02-12 17:57] jcollins-g opened #3001 "build_vm_compilers test failure on windows"
Found as part of #2999, and we have been unable to reproduce manually.  Test disabled until after the dependency graph untangling in progress.

[code]

[2021-02-13 16:23] subzero911 opened #3004 "Add a way to regenerate only 1 file or 1 folder"
I use MobX. If I changed 1 Store, I don't want to regenerate the whole project and wait for 3-4 minutes. I want just to change an appropriate .g file

It would be nice to have a command line parameter
`flutter pub run build_runner build --target=./profile.dart`
or
`flutter pub run build_runner build -t models`

[2021-02-14 12:35] JostSchenck commented on #2998
I uploaded my test app to https://github.com/JostSchenck/myapp2.git .
I did a fresh checkout from there and the problem persists. Thank you very much for your help.

[2021-02-15 19:36] simolus3 commented on #3004
`build_runner build` is incremental by default, it only runs build steps for changed inputs.

If you have a project where the input file to MobX has many dependencies (e.g. many transitive imports), changing any imported file triggers a rebuild. Maybe you could check if that is the case?
To speed up builds, you can also limit what a specific builder is allowed to see with a [build.yaml](https://pu

[2021-02-15 19:56] simolus3 commented on #2981
I've thought about this some more, and I think it's hard to provide something that can reasonably compete with just running `build_runner build` in every subdirectory. We can't even share an asset graph because it references build phases local to each entrypoint.

I still feel like we could safely allow writes to a path dependency, but users would have to manually apply compilers (or other `auto_a

[2021-02-16 16:23] jbt-cii commented on #2835
I had the same problem.

I resolved it following explanations for "flutter_gen" package:
[https://pub.dev/packages/flutter_gen/install](url)

So simply by adding "flutter_gen: ^1.3.1" in the "pubspec.yaml" dependencies :

`

dependencies:
  flutter:
    sdk: flutter
  flutter_gen: ^1.3.1
  auto_route: ^0.6.9
...

dev_dependencies:
#flutter_test:
#sdk: flutter
  build_runner: ^1.11.1
  auto_route_g

[2021-02-16 17:49] jakemac53 commented on #2981
Ya, I could envision a strategy like that where you have a single root package that manages generating code for multiple packages. I am not sure whether it really has a lot of payoff for the potential complexity though... if those packages want to run tests through `pub run build_runner test` then they also need to support running build_runner themselves, but _not_ the codegen parts? I am not tota

[2021-02-16 17:52] jakemac53 commented on #3004
There is also the `--build-filter` command that you can use to filter some outputs, but it doesn't always do what you want (all inputs to that output will still be built, and if I recall build-to-source builders always run?)

[2021-02-16 18:11] jakemac53 commented on #2998
I wasn't able to repro the issue on my linux box - so I tried opening up my windows box and I am able to reproduce this it looks like there.

So probably something to do with windows and how the snapshot process is exiting or something will investigate.

[2021-02-16 18:29] jakemac53 commented on #2998
Ok, it looks like this is logging some warnings on stdout, which we are not listening to. If I just drain those messages then the process does exit as expected.

@natebosch do you think we should log these? Here is an example output https://gist.github.com/jakemac53/520c313ea143a2bc2598fe5a5d532e52.

[2021-02-16 20:25] natebosch commented on #2998
I would expect that some of the time it's actionable and some of the time it isn't. How about if we log a message at info level like "There was output on stdout while compiling the build script snapshot. Run with --verbose to see the output".

If the process fails we should probably log both stdout and stderr.

I don't think it needs to be a warning level. Builder authors can hopefully use that as

[2021-02-16 21:24] mateusfccp commented on #2920
So, it seems that `analyzer` has finally been migrated to null-safety.

https://github.com/dart-lang/sdk/issues/44290#issuecomment-779480438

Is there any plans now to migrate `build` to null-safety?

[2021-02-16 22:28] jakemac53 commented on #2920
There is some work ongoing in https://github.com/dart-lang/build/pull/3003 to allow the latest analyzer as well as https://github.com/dart-lang/build/pull/2996 to start migrating some of our packages.

[2021-02-16 22:30] jakemac53 commented on #2998
That sounds good to me, logging at the `fine` level effectively then for anything on `stdout`, and then an `info` message with an extra newline to make sure it doesn't get overwritten by other info logs.

I don't want to double-log everything so I think in the failure case I might just log an error telling you to rerun with `--verbose` flag?

[2021-02-17 16:13] kevmoo opened #3008 "Handle case where deps file doesn't exist"
https://github.com/dart-lang/build/blob/e8fab51830b1fdfd7606ff7084e4f99a9dcbef22/build_resolvers/lib/src/resolver.dart#L372-L380

I get this a lot, mostly when the analyzer dep is updated

[code]

[2021-02-17 17:00] alanknight-wk opened #3009 "Dependency override causes builders to be applied at the top level incorrectly"
* Dart SDK Version (`dart --version`)
 * Dart SDK version: 2.12.0-133.7.beta (beta) (Tue Jan 12 09:25:38 2021 +0100) on "macos_x64"
 * also 2.7.2 for comparison
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * _If you are not sure, try checking your `pubspec.lock` file._
  * build_runner 1.11.1
  * build_resolvers 1.5.3
  * build_modules 3.0.4
* What

[2021-02-17 17:03] alanknight-wk commented on #3009
Also, the reason that the time would transfer from one builder to another is that the main cost was the analysis of all the package files. So running N builders didn't cost significantly more than running one.

[2021-02-17 17:18] jakemac53 commented on #3008
Looks like a race condition to me, do you see this when running tests?

I think it might be a dupe of https://github.com/dart-lang/build/issues/2995

[2021-02-17 17:26] kevmoo commented on #3008
Yup! Dupe. Easy to fix, no?

Duplicate of #2995

[2021-02-17 17:26] #3008 closed

[2021-02-17 17:52] jakemac53 commented on #3009
I believe we just need to remove this line https://github.com/dart-lang/build/blob/master/build_runner_core/lib/src/package_graph/package_graph.dart#L219.

cc @natebosch should we consider that breaking do you think?

[2021-02-17 17:59] jakemac53 commented on #3009
@alan-knight can you try using a git override to depend on https://github.com/dart-lang/build/pull/3011 and see if that fixes the issue for you?

[2021-02-17 18:21] natebosch commented on #3009
I think we should consider it non-breaking. That behavior was there [since the beginning](https://github.com/dart-lang/build/pull/11/files). The reason it was written then was because we wanted to override the dependency type and we were collecting both names and sources in the same method. `dev_dependencies` were added in #63

I think what should have happened is that in #1306 I should have stopp

[2021-02-17 20:05] alanknight-wk commented on #3009
Works!

[2021-02-18 16:02] #3009 closed

[2021-02-18 16:17] alanknight-wk opened #3012 "build_runner and build target must agree on dependencies"
I'm not sure if this is known, working as intended, or if there's anything that could be done about it, but I certainly didn't realize it.

build_runner, or at least the generated build script, runs in the context of the containing package. So it uses the dependencies from the local pubspec. Probably it has to so that it's picking up the correct version of the compiler, if nothing else. But it mea

[2021-02-18 16:45] #2998 closed

[2021-02-18 16:56] jakemac53 commented on #3012
I think this was probably just a result of using `dependency_overrides` on one or both of build_runner_core or build_runner? Both today require `glob` version `2.0.0`, but that wouldn't be enforced if you have overrides.

[2021-02-18 16:59] jakemac53 commented on #3004
I am going to close this as the `--build-filter` argument is designed for this use case. There were some specific decisions made with regards to that which might not always be intuitive, and end up building more than you might expect, but I don't think we want to introduce further options here.

In general the best thing to do to speed up builds is specifying the `generate_for` option as @simolus3

[2021-02-18 16:59] #3004 closed

[2021-02-18 17:02] JostSchenck commented on #2998
@jakemac53 Great, thanks a lot for your fixing this so quickly :)

[2021-02-18 22:10] jakemac53 opened #3016 "Add integration tests for `clean` and `generate-build-script` commands"
We recently had a breakage due to the arg parsers for these not supporting the `verbose` option, we need some basic integration tests for these in addition to the unit tests to prevent such breakage in the future.

[2021-02-19 01:40] natebosch commented on #3012
I don't know if this is actionable.

It's true that we use a single pub solve for `build_runner` and your package so you can't have conflicts between `build_runner` constraints and your own. In the old days `pub` had special constraints that were more limited in their impact but were tied to the SDK. `build_runner` chose instead to rely entirely on the pub solve, but that means it also imposes a l

[2021-02-19 15:37] #2920 closed

[2021-02-19 16:01] alanknight-wk commented on #3012
@jakemac53 I think the way that it exhibited, as a compile-time build error, is because it's a dependency error. But if it was a regular dependency it would just mean tell me that at pub-time (which sounds more fun than it is)

@natebosch Yeah, I don't know how you'd avoid that in general. The only actionable thing is likely to be aware that upgrading build dependencies to require a breaking chang

[2021-02-19 17:46] jakemac53 commented on #3012
I am still not quite understanding myself how this became a compile time error though? Or was it that some other dependency wasn't setting an upper bound on `glob`?

I don't think we can really do anything about the general pub solve issues, we import user code into the build script and so must be a part of the users pub solve. But we would expect this to result in failed pub get and not a compile

[2021-02-21 23:59] salvaterra commented on #2835
`flutter gen-l10n` solved for me

[2021-02-22 15:07] jakemac53 commented on #3012
Going to close this but we can re-open if we think there is something actionable to do here.

[2021-02-22 15:07] #3012 closed

[2021-02-23 17:57] MaxAuer opened #4616 "@GenerateMocks does not work on Generic method return types"
Hey,

I tried to create a Mock for the following Function:

[code]

Several Classes are extending `Base`.

`flutter pub run build_runner build` throws the following error `The method 'Api.add' features a non-nullable unknown return type, and cannot be stubbed.`

I am using Mockito: ^5.0.0-nullsafety.7

Any way to get around this?

[2021-02-23 18:10] simolus3 commented on #2778
Are there any thoughts on this? It looks like a major version bump of `package:build` is happening soon, should we do this now?

I welcome this change as a builder author, are there any concerns from an implementation perspective?

[2021-02-23 18:38] MaxAuer opened #4617 "@GenerateMocks does not generate correct stub for generic Future return Types"
Hey,

I tried to generate a Mock for the following Function:

[code]

Several classes are extending `Base`.

`flutter pub run build_runner build` does output the following stub:

[code]

I then use the following `when` in my test to stub the function

[code]

Which gives the following error `type 'Future<Null>' is not a subtype of type 'Future<Note>' in type cast`. This does make sense as `Future.

[2021-02-23 18:43] jakemac53 commented on #2778
I think the main concern here would be that not necessarily all implementations actually will natively get a `Uint8List`? So in that case some implementations may need to do a conversion?

Presumably today a consumer who needs a `Unit8List` could do a type check before converting, which might ultimately be more efficient than forcing a copy for the implementations that don't already have one?

[2021-02-23 18:43] jakemac53 commented on #2778
We should I think make a decision now though as to whether we think this should be done, and either do it or close it :)

[2021-02-23 19:38] natebosch commented on #2778
I can't remember the reasoning here, and I can't find any particular use case that needs a `Uint8List`. I think most likely I filed this for consistency, but looking back now I'm not sure it's worth the churn.

I'll close for now.

[2021-02-23 19:38] #2778 closed

[2021-02-24 02:13] v7lin opened #3019 "[SEVERE] Failed to snapshot build script .dart_tool/build/entrypoint/build.dart."
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`)
[code]

* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
[code]

* What builder(s) you are using (or writing yourself). Try to give a short summary of what they do.

annotations.dart

[

[2021-02-24 04:39] jakemac53 commented on #3019
This looks like a flutter issue? The error is coming from within package:flutter as far as i can tell.

I am not sure why flutter would be imported in a build script, but that does seem to be the root cause. cc @jonahwilliams any ideas? is this a known issue?

[2021-02-24 04:43] jakemac53 commented on #3019
The error appears to be coming from this line, https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/semantics/semantics.dart#L2130. Indeed this should be definitely assigned and thus non-nullable, so the `!` should not be necessary it seems like on the surface?

[2021-02-24 05:11] jonahwilliams commented on #3019
Incredibly odd. While that local is definitely assigned, its assigned to a nullable value sometimes. Why would this error show up here and not on any of our CI?

[2021-02-24 05:23] jakemac53 commented on #3019
Ya I have no idea, good point that it is assigned a nullable in at least one branch so it should stay nullable. I haven't tried looking at exactly what the state of the code was in flutter 1.22.6. Not sure if something funky could be happening, but either way I don't see how this wouldn't surface more generally....

[2021-02-24 17:10] jbt-cii commented on #2835
I had another problem trying to use the package "easy_localization".
For "flutter channel stable" I had to use the 3.0.0 version of this package.
I don't remember exactly but I think I should comment "flutter_gen" because a compatibility problem.

After several modifications in my code I tried to generate again the routes for the package "auto_route".
Then I had this error:

✗ flutter packages pub

[2021-02-26 03:41] raveesh-me opened #4618 "Recipe for funtion call verification within stream matchers"
### Code that I want to test:
[code]
### My test:
[code]

## Purpose
I want to verify whether the put() has been called in the stream, and can not find any example where I can add the verify method for this use case.

## Preferred Solution
I would like to have something like this...
[code]

[2021-02-27 00:44] srawlins opened #4619 "Mixin solution for unknown generic return type"
### Background

In dart-lang/build#4616 (and dart-lang/build#4617), @MaxAuer wants to stub a generic method with a return type which is tied to a type parameter on the method. Something like:

[code]

Mockito cannot generate a mock class for C because it must be able to return valid values in `add`, but cannot create values for unknown type variable `T`. I'd like to explore one solution here, allo

[2021-03-02 17:55] jakemac53 commented on #1899
Going to take a shot at dropping this with the null safety breaking release

[2021-03-03 22:42] jakemac53 commented on #1899
Ok so I realized we use this internally across several packages (build_test, build_modules, build_runner, build_runner_core). The format itself is also leaked through the `build_test` package in the input/output maps (the format of the keys) as well as in the build_resolvers package.

My 2 cents at this point is that it isn't worth trying to clean this up.

[2021-03-03 23:00] natebosch commented on #1899
It does look like the pain that would come from dropping `parse` outweigh the costs and risks. 😢

Oh well, I can learn to ignore that.

I think we should still look at changing the argument to `Resolve` to be `Uri`. I will see how that looks.

[2021-03-04 18:35] elnurvl opened #4620 "Argument matchers do not work in the new null-safe version"
I am trying to migrate my package to be null-safe. `dart pub outdated --mode=null-safety` told the new version(5.0.0) of the `mockito` package is fully null-safe.  However, after the migration now all the lines using argument matchers give the error below:

    The argument type 'Null' can't be assigned to the parameter type 'String'.

I see all the matchers are still declared as `Null` in the sou

[2021-03-04 23:02] #4620 closed

[2021-03-05 07:53] shilangyu opened #3024 "Bump web_socket_channel in build_runner"
* Dart SDK Version (`dart --version`): `Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "linux_x64"`
* What package(s) from this repo you are using: `build_runner 1.11.5`

I am maintaining a package that uses `web_socket_channel` and `build_runner`. Sadly, since build runner depends on `^1.0.0` I cannot upgrade `web_socket_channel` to v2. The reason I want to upgrade is to be

[2021-03-05 08:00] p0wl90 opened #3025 "Unable to upgrade dependencies because of build_runner dependencies"
Hello,
I'm unable to update the dependencies of my flutter app because build_runner still depends on web_socket_channel 1.0.9 while I want to use version 2.0.0. I'm using build_runner 1.11.5.

`dart --version`:
[code]

`flutter packages get`:
[code]

If any info is missing, I'm happy to add it but I think this should be everything you need. Thanks in advance!

[2021-03-05 21:10] SupposedlySam opened #4621 "Regression: Cannot call `when` from inside of a static method or extension method"
## Request

I would like for the ability to set up all of my mocks inside of an external function to make the mocked class reusable across files.

Note: I've been using extension methods successfully in previous versions of Mockito (4.1.1 specifically)

## The Problem
Currently, if you try to create a utility class or use an extension, errors are returned when you try to use the helper function.

[2021-03-05 23:00] felixwortmann opened #3026 "Null Safety"
Please migrate this package to Null-Safety.
https://dart.dev/null-safety/migration-guide

[2021-03-06 00:03] NikoBoerger opened #4622 "False generation of mocks containing generated entities"
Hi,

I'm having the following simple class and want to generate a mock for it:
[code]

"PlayerTableCompanion" and "PlayerModel" are generated classes from the Moor library.
When mocking with @GenerateMocks([PlayerModelConverter]), mockito creates the following:
[code]
Both of the moor classes are converted to "dynamic", which obviously doesn't work.

The generated classes from moor look like this:

[2021-03-06 03:51] MarlonJD commented on #3026
We cannot using build runner on flutter 2.0.0 or 2.0.1, we need update

[2021-03-06 09:30] NikoBoerger opened #4623 "whenListen() on generated mock throws "Bad state: when called on a real object.""
It seems like the whenListen() method doesn't work with the new generated mocks for nullsafety. The whenListen() method doesn't detect the mock as a mock, since the super class is different (even though with the same name "Mock"). It then throws "Bad state: when called on a real object.".

Is that expected behavior, or a bug?

Thanks!

==============================
Doctor summary (to see all deta

[2021-03-06 09:31] #4623 closed, assigned to nobody

[2021-03-06 10:35] simolus3 commented on #3026
Duplicate of #2920. The `build`, `build_resolvers` and `build_test` packages have been migrated and will be released in the next weeks (afaik).

You can use the current `build_runner` with Flutter 2.

[2021-03-06 11:11] BenjaminFarquhar opened #3027 "Error running build_runner after upgrade Flutter to 2.0"
Hi there,

When running `flutter pub run build_runner watch --delete-conflicting-outputs`, it is now giving me an error ever since I upgraded to Flutter 2.0. I'm using freezed with json_serializble for build tasks. I wonder if this is an issue with build_runner because everything else about my app still works. Apologies if it is not an issue with build_runner. Any help much appreciated.

* Dart SD

[2021-03-06 14:29] felangel opened #4624 "[Proposal] Merge Mocktail into Mockito"
Hello 👋

I've been working with various members of the community for a while to brainstorm ways of maintaining the previous mockito API while still being null safe so that developers can migrate their apps more seamlessly without needing to use code generation or write lots of manual mocks (#286, dart-lang/build#4790).

The experimentation was all done under [package:mocktail](https://pub.dev/pack

[2021-03-06 17:15] simolus3 commented on #3027
Does it work if you delete `.dart_tool/package_config.json` and run `flutter pub get` again?

[2021-03-06 18:20] BenjaminFarquhar commented on #3027
No unfortunately not. Thanks though

[2021-03-06 18:36] BenjaminFarquhar commented on #3027
adding `--verbose` to `flutter pub run build_runner build`:

[code]

[2021-03-06 19:55] simolus3 commented on #3027
I think this might be a Flutter problem and unrelated to `build_runner`. Can you trick it by running `touch .dart_tool/package_config.json`?

[2021-03-07 02:30] kzjn10 commented on #3027
how can I resolve the problem when run `flutter packages pub run build_runner build --delete-conflicting-outputs`

[code]

[2021-03-07 05:07] TimWhiting commented on #3024
Got the same issue in my app.

[2021-03-07 06:58] simolus3 commented on #3027
@kzjn10 Are you using `dependency_overrides`? You need version `6.1.8` (or later) of `build_runner_core` to support the latest `glob`.

[2021-03-07 13:06] simolus3 opened #3029 "Snapshot is generated twice when upgrading core packages and language versions"
After upgrading `build_runner` and some dependencies, running the build causes two snapshots:

[code]

I assume this wouldn't happen too often, but it's annoying since that build takes ~10s longer than it needs to.

[2021-03-07 23:15] isorensen opened #4625 "Support null-safety"
Hello! thanks for the awesome package.

Dart 2.12 and flutter 2.0.0 are now in stable with the null-safety feature.

Migrating this package to null-safety would help a lot. :)

Here's an official guide from dart doc
https://dart.dev/null-safety/migration-guide

[2021-03-08 01:27] #4625 closed, assigned to nobody

[2021-03-08 02:31] GreatWriter opened #3030 "Generator cannot target libraries that have not been migrated to null-safety."
Model Code：
[code]

[2021-03-08 02:53] gmcdowell opened #4626 "[SEVERE] mockito:mockBuilder - The getter 'isDartCoreObject' was called on null"
**overview**

- unable to run `flutter packages pub run build_runner build --delete-conflicting-outputs`
- isolated to use of `loggy package` [I have migrated this pkg to null-safety as part of trouble-shoot efforts - see [pubspec.yaml](https://github.com/gmcdowell/mockito_floggy_demo/blob/546ef91b49ae424df885c84e72fc0bf0f774b978/pubspec.yaml)]

**how to replicate**
- i have put together a [demo r

[2021-03-08 13:15] mozochek commented on #3027
Flutter 2.0 has null safety, build_runner still don't have it. Whats the problem? It's obvious that build_runner won't be working on flutter 2.0 and higher. Just downgrade sdk and other dependencies to not null safety

[2021-03-08 13:18] simolus3 commented on #3027
Have you actually tried it? `build_runner` works with Flutter 2 just fine. You don't need a null-safe `build_runner` to migrate your app, since you don't import that package in your code.

[2021-03-08 15:23] jakemac53 commented on #3027
@BenjaminFarquhar just to confirm here - have you ran `flutter pub get` first? The error is a bit misleading (running `pub upgrade` won't always do the same thing depending on your setup).

[2021-03-08 15:25] jakemac53 commented on #3027
@kzjn10 as @simolus3 said this is almost certainly caused by a `dependency_override` on one of the `build` packages or the `glob` package.

[2021-03-08 16:20] jakemac53 commented on #3029
Ya there are actually a fair number of situations that can cause this - the solution isn't super obvious though unfortunately so we haven't yet addressed it.

If I recall the issue is that we generally try to keep the old asset graph around if we can, just because a package updated does not mean it actually affected the build (although it usually does). So we don't eagerly throw away the asset gra

[2021-03-08 17:13] jakemac53 commented on #1899
Ok, I am going to go ahead and close this as not planned.

[2021-03-08 17:13] #1899 closed

[2021-03-08 17:31] #4621 closed, assigned to nobody

[2021-03-09 15:46] psrcek opened #3031 "The getter 'late' isn't defined for the class 'FieldElement'"
* Dart SDK Version (`dart --version`): `Dart SDK version: 2.12.0 (stable) (Thu Feb 25 19:50:53 2021 +0100) on "linux_x64"`
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * `build_runner`: `1.11.1`
* What builder(s) you are using (or writing yourself).
  * `freezed`: `0.12.7` or `0.14.0+1` (both fail)
* Any other packages or constraints we should know

[2021-03-09 15:48] kzjn10 commented on #3027
Thanks, @simolus3 and @jakemac53 . work well <3

[2021-03-09 15:50] jakemac53 commented on #3031
This looks like an issue with the `analyzer` constraint in `freezed` to me, I would refile the issue on the `freezed` package (I can't transfer the issue as that isn't a dart-lang org project)

[2021-03-09 15:50] #3031 closed

[2021-03-09 15:50] jakemac53 commented on #3031
https://github.com/rrousselGit/freezed/issues/new is the link for that btw

[2021-03-09 15:55] #3027 closed

[2021-03-09 16:20] AbhijeetRajputMB opened #3032 "Infinite loop on Build-runner build after flutter upgrade 2.0"
my pubspec.yaml

name: flutter_2021_quickstart
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number

[2021-03-09 16:49] jakemac53 commented on #3032
@AbhijeetRajputMB can you describe the issue in detail please? How would I reproduce the problem?

[2021-03-09 17:08] #4615 closed, assigned to nobody

[2021-03-09 17:09] #4728 closed, assigned to nobody

[2021-03-09 17:09] #4739 closed, assigned to nobody

[2021-03-09 17:10] #4767 closed, assigned to nobody

[2021-03-09 17:16] AbhijeetRajputMB commented on #3032
Please Copy my pubspec config and
run flutter pub run build_runner build --delete-conflicting-outputs in terminal

Terminal get same output in loop

[2021-03-09 17:51] jakemac53 commented on #3032
This looks like a bug in the `auto_route_generator` package as that is the builder that is not completing. I would file an issue on that package and see if they can debug this.

[2021-03-09 17:51] #3032 closed

[2021-03-09 18:10] #3026 closed

[2021-03-09 18:21] AbhijeetRajputMB commented on #3032
Ya sure thank you

[2021-03-09 18:23] jakemac53 commented on #1899
@natebosch did you still want to evaluate changing the `Resolve` argument?

[2021-03-09 23:02] jonahwilliams opened #4627 "Provide a non-codegen mockito release with updated test_api dependency."
Currently the flutter_tools project and several dev/ bits of the flutter SDK repo depend on mockito. Because we do not want to introduce a codegen requirement for developing with the SDK (and because we'd like to reduce mocks anyway) we have not been able to upgrade past 4.1.1. We anticipate this migrating will take at least a few more months.

Unfortunately mockito 4.1.1 depends on test_api, whic

[2021-03-10 02:41] radvansky-tomas opened #4628 "'Object.==' ('bool Function(Object)')"
I see this a lot when I am trying to mock firebase libs:

`'Object.==' ('bool Function(Object)') isn't a valid concrete implementation of 'Reference.==' ('bool Function(Object?)').`

And thats because of their:
[code]

Any idea how to use generator for such thing ?

[2021-03-10 10:50] simolus3 commented on #2981
I've thought about this some more, and it seems like there are just too many drawbacks to do this realistically. I have found a workaround for my build setup and that doesn't require me to build to source, so that should work.

[2021-03-10 10:50] #2981 closed

[2021-03-10 17:07] alextekartik opened #3034 "Support for node.js"
I am a user of [build_node_compilers](https://pub.dev/packages/build_node_compilers) that currently does not work on dart 2.12 (or at least not in a simple way and with no ability to use any null safe code).

It is not clear whether build_node_compilers will be maintained in the future (no response from maintainer) and I'd like to know what are the dart team plan on node support in the future.

It

[2021-03-10 17:48] jakemac53 commented on #3034
We do not have any plans for official node support in the `build` family of packages at this time. We can leave this issue open but there isn't much demand for it and we have no expertise in the matter nor use cases of our own. This is best served imo as a community supported package, it can closely follow the example set out by build_web_compilers though.

[2021-03-10 20:21] alextekartik commented on #3034
Thanks for the info @jakemac53 . I completely understand the choice, I guess I'll learn about compilers!

[2021-03-11 15:23] bynicodevelop opened #4629 "Mock isn't a valid concrete implementation of FirebaseFirestore"
Hello,

I integrated the latest version of Mockito into the saint of one of my apps.

I have a case where I am using Mockito with Flutter's FirebaseFirestore.

Here is my test case:

[code]

Visual studio code shows me the following error on the class FirebaseFirestoreMock:

<img width="505" alt="Capture d’écran 2021-03-11 à 16 17 48" src="https://user-images.githubusercontent.com/32275195/11080

[2021-03-11 16:24] matehat opened #4630 "Update to test_api 0.3.0"
The latest from `package:test` (1.16.7) depends on `test_api` version 0.3.0, which is at odds with the version constraints from `mockito`.

Is there anything preventing you from updating to the 0.3.0?

[2021-03-11 17:02] woprandi opened #4631 "How to stub exception from async method since NNBD ?"
I often do that :
[code]
To test my app's behavior on error. I'm working on the NNBD migration and now I get this error :
[code]

I didn't find any information about NNBD migration for this specific use-case

[2021-03-11 17:11] srawlins opened #4632 "Update README.md to be null-safety-first"
The README.md and NULL_SAFETY_README.md docs should be rearranged a bit, since mockito's stable release is now null safe.

[2021-03-11 17:37] TimWhiting opened #3036 "Consider reading enable-experiment from analysis_options.yaml"
* Dart SDK Version  2.13.0-114.0.dev
* What package(s) from this repo you are using, and the version: build_runner 1.11.5
* What builder(s) you are using. Freezed (data classes) / JsonSerializable

I ran into issues trying to test freezed / json_serializable with the upcoming nonfunction-type-aliases
I set the enable-experiment in the analysis_options.yaml and set my min-sdk version correctly, but

[2021-03-11 17:47] jakemac53 commented on #3036
No other tools other than the analyzer read this file, so that would introduce a weird divergence. It is also a very explicit choice to require experiment flags on every invocation - it is a constant reminder that you are using an experiment and that your code may break at any time (experiment could be dropped, changed, whatever).

As far as the separate flags the reason is they do totally differe

[2021-03-11 17:47] #3036 closed

[2021-03-11 18:25] ammaratef45 opened #3037 "Null-safety"
What is the plan for upgrading to support null-safety?

[2021-03-11 18:28] ammaratef45 opened #4633 "null-safety question"
The version that supports null safety is a stable release now but pub website doesn't show the `Null Safety` mark next to it as other packages!

[2021-03-11 18:39] #4633 closed, assigned to nobody

[2021-03-11 18:41] jakemac53 commented on #3037
See https://github.com/dart-lang/build/issues/2920 - this is nearly ready to be published we are just validating things internally right now.

[2021-03-11 18:41] #3037 closed

[2021-03-11 18:41] jakemac53 commented on #3037
(the issue is closed because we have actually landed all the code necessary to write and test a null safe builder in sound mode, we just need to publish)

[2021-03-11 20:05] eggnstone opened #4634 "v5.0.0 doesn't seem to work with null safety"
Using
- Flutter 2.0.1
- Dart 2.12.0
- Mockito 5.0.0

This simple example

[code]
produces

`type 'Null' is not a subtype of type 'int'`

[2021-03-11 20:15] #4634 closed, assigned to nobody

[2021-03-12 07:21] fh345392977 commented on #2835
It worked

[2021-03-12 10:55] #4630 closed, assigned to nobody

[2021-03-12 16:51] #4632 closed, assigned to nobody

[2021-03-12 16:51] #4629 closed, assigned to nobody

[2021-03-12 16:51] #4627 closed, assigned to nobody

[2021-03-12 16:51] #4626 closed, assigned to nobody

[2021-03-12 17:37] erf opened #3039 "Dependency issue with latest build_runner and shelf_web_socket"
Missing some or all of the above might make the issue take longer or be impossible to act on.

I'm having a dependency issue with   `build_runner: ^1.11.5` and `shelf_web_socket: ^1.0.0`.

Dart SDK version: 2.13.0-77.0.dev (dev) (Thu Feb 25 00:41:11 2021 -0800) on "macos_x64"

Output:

[code]

[2021-03-12 17:52] jakemac53 commented on #3039
I am working on publishing the versions that allow the latest shelf_web_socket now - see https://github.com/dart-lang/build/pull/3040.

[2021-03-12 18:03] #3039 closed

[2021-03-13 07:58] amantoux opened #4635 "Support latest version of build"
I want to upgrade my project to go sound null safe.
It uses `web_socket_channel` and `mockito`. `build_runner` v1.12 depends on `web_socket_channel` v2 but also `build` v2 while `mockito` still depends on `build`v1

Thus this issue is a request to bump the `build` package to v2 in order to enable people upgrading to sound null safety

[2021-03-13 10:55] eggnstone opened #4636 "Need documentation how to handle "any" etc. with nnbd."
https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md
explains that "any" etc. returns Null:
https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md#argument-matchers
but does not explain how to migrate tests / write tests that would need an "any" matcher.
E.g. how to write this with nnbd:
[code]

[2021-03-13 11:49] yfer opened #3046 "NullSafety "flutter pub run build_runner build" problem"
I'm using new null-safety feature with dart and had a problem with build_runner.

[code]
and
[code]

**Fixed both of them, hence PR.** But of course I still got

[code]
Tried to run `flutter pub run build_runner build --no-sound-null-safety`, it had no effect.

**Solution!!!**
The only thing that helped is manually insert `// @dart=2.9` at the beginning of bin/build_runner.dart, after that builder

[2021-03-13 13:09] #4636 closed, assigned to nobody

[2021-03-13 15:51] simolus3 commented on #3046
@yfer, how do you run `build_runner`? The package itself doesn't opt-in to null safety, so running `dart run build_runner build_runner build` should work (replace `dart` with `flutter pub` if you're using Flutter).

If you're using null-safety, make sure you're on `build_runner` version `1.10.4` or later. That adds the necessary `//@dart=2.9` comment to the generate build script, which might be wh

[2021-03-13 16:04] hsm59 opened #3048 "pub get failed because my_app depends on both json_serializable ^4.0.2 and build_runner ^1.12.1, version solving failed"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`)
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * _If you are not sure, try checking your `pubspec.lock` file._
* What builder(s) you are using (or writing yourself). Try to give a s

[2021-03-13 16:56] simolus3 commented on #3048
You likely don't need version `1.12` of `build_runner`, can try lowering your dependency to `^1.11.0`? `pub upgrade` will give you the latest `build_runner` after all your dependencies have migrated to `build` version 2. There's no good reason to use `1.12` as a lower bound IMO.

[2021-03-14 04:35] natebosch commented on #3046
It looks like something it going wrong with the tooling here.

`bin/build_runner.dart` should not be considered opted in to null safety at that version. The language version should be `2.11`

https://github.com/dart-lang/build/blob/build_runner-v1.12.1/build_runner/pubspec.yaml#L7

@yfer - what specific command did you run? Also, can you upload the content of your `.dart_too/package_config.json` f

[2021-03-14 14:29] yfer commented on #3046
@natebosch
I am running `C:\flutter\bin\flutter.bat pub run build_runner build`

Dart SDK version: 2.12.1 (stable) (Wed Mar 10 10:18:47 2021 +0100) on "windows_x64"

flutter doctor
    • Flutter version 2.0.2 at C:\flutter
    • Framework revision 8962f6dc68 (3 days ago), 2021-03-11 13:22:20 -0800
    • Engine revision 5d8bf811b3
    • Dart version 2.12.1

[.dart_tool/package_config.json](https://

[2021-03-14 16:39] jonahwilliams commented on #3046
For the most part `flutter pub run` is treated as a pass through: https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/packages.dart#L238

[2021-03-14 22:53] emme1444 opened #3049 "No published analyzer available for language version 2.12.0 AND "requires the 'non-nullable' language feature""
Every now and then I get this message upon executing `flutter packages pub run build_runner build --delete-conflicting-outputs --verbose`.

[code]

As the message indicates; it thinks I might not have the latest `analyzer` version installed. According to `flutter packages pub deps` I have `0.39.17`, so not the latest.

Upon running the suggested command (`flutter packages upgrade`), the version of

[2021-03-15 12:32] eggnstone opened #4637 "How to stub the equality operator?"
How can I stub the equality operator?
Neither compile:
[code]

[2021-03-15 13:47] steven-spiel opened #3050 "type 'SyntheticSourceAssetNode' is not a subtype of type 'NodeWithInputs' in type cast"
Not sure entirely what's going on, but I started getting this error mid-last week. I did not upgrade dart or flutter or any packages. The only thing I can think of was that I installed the package "get" which possibly correlates. I'm also on an M1, if that makes a difference, though it had been working for weeks with the same versions of dart, flutter, and build_runner.

[code]

[code]

[code]

[c

[2021-03-15 14:15] steven-spiel commented on #3050
I delete .dart_tools directory and it ran without error

[2021-03-15 14:15] #3050 closed

[2021-03-15 16:11] jakemac53 commented on #3046
@yfer are you passing `--enable-experiment=non-nullable` possibly? That should be dropped now - I believe it would break any package with a min sdk constraint between 2.10 and 2.12 (exclusive) because it would opt them in to null safety (the "experiment release version" is 2.10, which is confusing).

Or @jonahwilliams is it possible flutter_tool is passing this?

[2021-03-15 16:12] jonahwilliams commented on #3046
No, the tool doesn't pass any experiment flags through unless they are passed by the user

[2021-03-15 16:14] jonahwilliams commented on #3046
(I mean, probably 🙃  )

[2021-03-15 16:17] jakemac53 commented on #3049
Most likely the `merging_builder` package is restricting your analyzer version so you can't get the latest.

Since you are on an old analyzer, it doesn't understand that null safety no longer requires an experiment, and you get those errors.

You can use the [pubviz](https://pub.dev/packages/pubviz) tool to try and see if there are additional things blocking you from getting the latest analyzer as

[2021-03-15 16:18] jakemac53 commented on #3049
I am going to close this as the issue is definitely just an old analyzer, but we can still help you resolve the issue if you are having troubles.

[2021-03-15 16:18] #3049 closed

[2021-03-15 17:05] #3048 closed

[2021-03-15 22:47] #4635 closed, assigned to nobody

[2021-03-16 10:18] emme1444 commented on #3049
Thanks, @jakemac53 for the quick response!

Yeah okay, sounds like something I was suspecting anyway.

I removed the `merging_builder` package as a dependency for the generator I'm building. However, the `analyzer` version does not change. So, I used `pubviz` like you suggested. I ran `dart pub global run pubviz open -p` and I got this:

![screenshot](https://user-images.githubusercontent.com/2358

[2021-03-16 14:49] jakemac53 commented on #3049
Just to double check @emme1444, you have been running `pub upgrade` to upgrade your deps? I don't see anything there restricting the `build` version directly, but you are definitely getting a very old version (almost a year old).

It might be that `pub` is not dealing well with all of the `any` constraints you have and is selecting a very old version of packages? I would try forcing `build: ^1.6.3

[2021-03-16 15:02] jonasfj commented on #3046
@yfer  can you do a minimal example reproducing the issue?

Does it also happen if you don't have a flutter dependency and just do `dart run build_runner build`?

[2021-03-16 18:11] yfer commented on #3046
@jonasfj Yes. I'm working on it. For now i can tell that can't see the bug on linux/unix. But I see it on windows, trying to make minimal example.

[2021-03-16 19:49] #3034 closed

[2021-03-16 19:53] EhiltonKazuo opened #4638 "@GenerateMocks does not generate for void function without parameter"
I'm new in mockito and null safety operators, but i followed the NULL_SAFETY_README. This is the annotation that im using:
`@GenerateMocks([],
    customMocks: [MockSpec<LoginPresenter>(as: #LoginPresenterSpy)])`

This is the sample of LoginPresenter:
[code]
And this is the generate code build_runner:

[code]

But doesn't exist the auth and dispose functions. Am i doing wrong?

[2021-03-16 21:22] emme1444 commented on #3049
Hey @jakemac53!

Well, kind of I guess. I ran it on the `example` flutter side, but for some reason never thought to run it in my `generator` package.

Anyway, playing around with the things you've suggested, this is what I've found out. Although I am still stuck. I think.

Without merging builder (same `pubspec.yaml` as before), followed by a `pub get` and then a `pub upgrade`, I get this:

![scr

[2021-03-16 22:08] timshadel opened #4639 "type 'Null' is not a subtype of type 'Future<String?>'"
In a null-safe app, when I mock a type which returns a nullable Future, I get a runtime failure. This happens whether or not I return null. Am I doing something wrong? These tests used to work before moving to null safety.

**Basic Example Test**
[code]

**Output**
[code]

[2021-03-17 15:42] jakemac53 commented on #3049
@emme1444 yes so `merging_builder` requires analyzer ` ^0.39.15` which doesn't allow any of the newer versions (anything above `0.39.x`). I would start by filing an issue on that builder, asking them to update. If they don't respond, then you probably want to re-evaluate using that builder is the sort of harsh reality.  You could either fork your own version or find something else that does what y

[2021-03-17 18:41] svprdga opened #4640 "Generated fakes for BuildContext do not include additional parameters for toString"
If one tries to generate a mock for BuildContext class, the result mock contains errors.

## Steps to reproduce
1. Use @GenerateMocks annotation to generate a mock of BuildContext

## Expected behaviour
An usable MockBuildContext is generated.

## Actual behaviour
The following lines of the generated class contains errors:

[code]

Errors:

[code]

[2021-03-17 21:29] #4639 closed

[2021-03-18 23:36] EhiltonKazuo opened #4641 "emitsInOrder doesn't work correctly on try/catch sentence"
I followed some course and I am new in mockito.

I google it, but i can't find something helpful with my problem.

I made two tests with streams: isLoadingStream, anyErrorStream. Inside the doSomething method has two states for isLoading: true and false. True when it is before the someMethod executes and running the outside of the try/catch operator. False when complete the try/catch operator.

Wh

[2021-03-19 07:02] brizaldi commented on #3019
Hi this is also happened to me,
[code]

<details><summary>flutter doctor</summary>
<p>

[code]

</p>
</details>

[2021-03-19 09:21] kim-mini6 opened #3055 "Package is not available."
Because build_runner >=1.12.0 depends on build >=2.0.0 <2.1.0 and freezed >=0.13.0-nullsafety.0 depends on build ^1.6.0, build_runner >=1.12.0 is incompatible with freezed >=0.13.0-nullsafety.0.

So, because dolink_app depends on both freezed ^0.14.1 and build_runner ^1.12.2, version solving failed.
pub get failed (1; So, because dolink_app depends on both freezed ^0.14.1 and build_runner ^1.12.2,

[2021-03-19 10:59] emme1444 commented on #3049
@jakemac53 yes as I suspected. I did open an issue at `merging_builder` they're soon in the process of migrating to support null-safety which should resolve the dependency mismatched I've experienced.

Thanks for all the help and time anyway. Have a nice weekend!

[2021-03-19 11:26] MatrixDev commented on #3046
@yfer I have same problem on MacOS

[2021-03-19 14:55] #3055 closed

[2021-03-19 14:56] jakemac53 commented on #3019
@brizaldi you probably have some `dependency_overrides` in your `pubspec.yaml` which are causing this.

[2021-03-20 02:40] pavanpodila opened #4642 "Please upgrade Mockito to use source_gen 1.0.0"
Mockito still depends on `^0.9.6`. It would be great if it could upgrade to the null-safe version of `source_gen`, which is in **`1.0.0`**

[2021-03-20 17:20] emme1444 opened #3057 "Both "declaring" a builder and using another builder/generator for the source code of the "declared" builder."
I'm currently writing a builder/generator package. Which has been going pretty well so far. Unfortunately I've now hit a roadblock. A minor problem if you will.

I came across the idea of using `json_serializable` to decode my builder options' config. The problem occurs in trying to figure out how to both, so to say, "declare" a builder (from within the builder/generator package's `build.yaml` fil

[2021-03-21 11:16] haashem opened #4643 "`When` throws exception when stubbing response"
Here we have:
[code]

then in test file:
[for demonstration, test doesn't do anything]

[code]

then it throws

[code]
I have upgraded 'bloc_test' to 8.0.0 and while updating the tests because of syntax change, I face the above error.

What am I doing wrong?

[2021-03-21 13:29] #4643 closed, assigned to nobody

[2021-03-22 06:27] PiN73 commented on #3046
Here are reproduction steps:

- Create new folder named hello

- Create pubspec.yaml with contents:
[code]
- Create lib/example.dart with contents:
[code]

- Open this folder with Android Studio

- Open pubspec.yaml file

- Click "Enable Dart support"

- Click "Pub get"

- Open terminal and type
[code]

Result:
[code]

Not sure if the problem is in my setup, json_serializable or build_runner

[2021-03-22 06:38] PiN73 commented on #3046
Though `build_runner: '>=1.10.0 <1.11.0'` AND `flutter packages pub run --no-sound-null-safety build_runner build` seems to work, but this also downgrades json_serializable from 4.1.0 to 4.0.2

[2021-03-22 15:48] jakemac53 commented on #3046
It looks like you have one of these funky pub caches that ships (or used to ship?) with flutter - can you try deleting that entire `.pub_cache` directory? Then do another pub get (or ideally upgrade) again and then a run.

[2021-03-22 16:02] jakemac53 commented on #3057
The problem is that when you try to do this the build script itself is invalid, it can't even start. This is because it has missing generated files that are a part of the build.

There isn't any explicitly supported solution here. You can move these files to a separate package, which doesn't depend on your actual builder, and then depend on that. It is a bit cumbersome but works.

Or if you can ge

[2021-03-22 16:02] #3057 closed

[2021-03-23 05:46] nileshbhakre opened #3058 "Failed to precompile build_runner:build_runner with analyzer 1.2.0"
Failed to precompile build_runner:build_runner:
/F:/flutter_sdk/flutter_windows_2.0.3-stable/flutter/.pub-cache/hosted/pub.dartlang.org/analyzer-1.2.0/lib/src/dart/constant/evaluation.dart: Error: The control character U+0000 can only be used in strings and comments.
/F:/flutter_sdk/flutter_windows_2.0.3-stable/flutter/.pub-cache/hosted/pub.dartlang.org/analyzer-1.2.0/lib/src/dart/error/ffi_code.d

[2021-03-23 10:35] #4641 closed, assigned to nobody

[2021-03-23 14:02] jakemac53 commented on #3058
cc @scheglov any ideas?

[2021-03-23 17:10] scheglov commented on #3058
The error comes from CFE, I think.
But maybe something is wrong with the downloaded code for `package:analyzer`.
I checked that `src/summary/api_signature.dart` does not have `0x00` in my local copy, and on pub.dev (version `1.2.0`).
So, it might be a bug on the local file system.

[2021-03-23 17:21] jakemac53 commented on #3058
@nileshbhakre try a `flutter pub cache repair`?

[2021-03-24 08:06] BartusZak commented on #3037
Hej @jakemac53

I am just checking availability to update my project to flutter 2.0 and dart with null safety support.

Run:
[code]

Result:

[code]

[2021-03-24 13:06] cohenadair commented on #1469
This should really be in the [documentation](https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md). It took me a while to find this.

[2021-03-24 14:30] jakemac53 commented on #3037
You can freely update to null safety - note that `build_runner` itself is not migrated but that only means the build itself will not run with sound null safety. Your project should not be directly importing `build_runner` and so it can run with sound null safety without issue.

[2021-03-24 16:59] natebosch commented on #2993
@bshlomo - is this still happening? Can you run with `--verbose` and paste a stack trace into this issue?

[2021-03-24 17:13] natebosch commented on #2919
Yeah this looks like there was a version of sass with an invalid SDK constraint - this was not too unusual during the `-dev` SDK releases. I'd recommend upgrading to a stable SDK and the latest compatible sass.

[2021-03-24 17:13] #2919 closed

[2021-03-24 20:20] #3001 closed

[2021-03-25 14:51] oligazar opened #3060 "[SEVERE] Failed to snapshot build script .dart_tool/build/entrypoint/build.dart"
* Dart SDK Version (`2.13.0-134.0.dev (dev)`)
* `build_runner: ^1.12.2`
* Using MacOSX

After running `flutter packages pub run build_runner build --delete-conflicting-outputs` I'm getting:

[code]

dependencies:
[code]

What the error means and how it should be addressed?

[2021-03-25 15:04] jakemac53 commented on #3060
This is almost certainly because of your `dependency_overrides`. Any time you use these you are overriding the dependency constraints in packages, causing issues like this.

Try removing the overrides, or specifically the `analyzer` override.

[2021-03-25 15:04] #3060 closed

[2021-03-25 15:11] oligazar commented on #3060
@jakemac53 Thanks for the reply. Any time I change smth in `dependency_overrides` I no longer can run `dart pub get` and compile my build. This configuration is what I ended up after lots of attempts.

Would be much helpful if the error message point exactly on the problematic dependency so I can start the process again from there

[2021-03-25 16:32] jakemac53 commented on #3060
The dependency solves are very complex, so the error messages can be verbose, but they do contain all the necessary information to understand the problem. If you can post yours we can help decipher it.

[2021-03-25 16:37] petoknm commented on #3037
@jakemac53 can you please elaborate on how to upgrade a project that uses build_runner to null safety? I've been trying to follow the official migration guide with no luck for a few hours now...

[2021-03-25 17:03] jakemac53 commented on #3037
@petoknm where are you running into issues?

[2021-03-25 17:18] petoknm commented on #3037
[code]
And from then on I cannot follow the guide, because technically not all my deps are null safe. So I'm unsure what to do.

[2021-03-25 17:59] jakemac53 commented on #3037
You can ignore these, and continue to follow the guide. As long as they are not imported directly it won't impact the migration.

[2021-03-25 20:27] #4642 closed, assigned to nobody

[2021-03-25 21:40] emme1444 commented on #3057
Thanks @jakemac53 for the response!

First of all, I totally thought this was a misconfiguration or something of the like. I definitely did not think this wouldn't be possible? Anyway, here's me just trying to understand the tools I'm working with.

Could you elaborate _more precisely_ on why it can't start?

_What generated files_ are part of _what build_. Or what?

Might there be a solution in t

[2021-03-25 21:49] jakemac53 commented on #3057
The way the build system works, we generate a build script which imports all the builders that you use. The build itself runs by just running this script (`pub run build_runner` is really just a wrapper that generates a real build script and then runs it).

This script imports your builder, which has references to generated files that won't exist until the build actually runs, so the build script

[2021-03-26 18:04] inc16sec opened #3061 "Updating the package to be null-safety compatible, so far 1.12.2 is not."
I'm using Flutter 2.0 and still at Dart sdk: ">=2.7.0 <3.0.0".
I was hoping to migrate to Dart sdk: ">=2.12.0 <3.0.0". and make my project null-safe, but in order to so all of the packages I'm using must be null-safe, including this one.
When I run the command
[code]

It shows me a list of all the packages that are yet to be updated to support null-safety, int the case of build_runner, it shows
[c

[2021-03-26 19:39] emme1444 commented on #3057
I see! Oh well...

One last question: When you say to seperate the part that uses `json_serializable` out to a seperate package, do you mean something in the style of _path dependencies_? Or where you thinking something else? Can't seem to figure it out, since packages that depend on _path dependencies_ can't be published. Or would you publish it to pub.dev along-side the builder/generator package

[2021-03-27 08:18] MohammadEzoo commented on #3061
any update ?

[2021-03-27 13:53] sibylantoninobajeli commented on #3061
Hi folks,
I'm facing the same problem.

My flutter doctor:
`[√] Flutter (Channel beta, 2.1.0-12.2.pre, on Microsoft Windows [Versione 10.0.19041.867], locale it-IT)
    • Flutter version 2.1.0-12.2.pre at c:\flutter
    • Framework revision 5bedb7b1d5 (10 days ago), 2021-03-17 17:06:30 -0700
    • Engine revision 711ab3fda0
    • Dart version 2.13.0 (build 2.13.0-116.0.dev)

[√] Android toolchain

[2021-03-27 20:21] dhrn commented on #3061
+1

[2021-03-28 12:26] yakupbaser commented on #3061
any update?

[2021-03-28 16:04] bismarabia commented on #3061
++++

[2021-03-28 18:31] felixwortmann commented on #3037
@jakemac53  Where can I find that guide?

[2021-03-28 19:47] petoknm commented on #3037
@felixwortmann https://dart.dev/null-safety/migration-guide

[2021-03-28 21:22] msiviero commented on #3061
+

[2021-03-29 00:58] Puspharaj commented on #3061
bump

[2021-03-29 03:28] cyberpwnn commented on #3061
+1

[2021-03-29 05:34] mergengerel commented on #3061
+1

[2021-03-29 05:46] donyaie commented on #3061
+1

[2021-03-29 09:08] yusuke0505 commented on #3061
👀

[2021-03-29 09:15] brynjen commented on #3061
+1

[2021-03-29 09:17] CodeDoctorDE commented on #3061
Please use the reaction function instead of comment on this issue. It's annoying if you subscribe to this issue!

[2021-03-29 13:27] larssn commented on #3061
@kevmoo Sorry for the ping, but I can see you've worked on null safety for this repo. Do you have anything you can share?
Thanks!

[2021-03-29 14:15] jakemac53 commented on #3061
You can safely ignore these messages from `pub outdated`. As long as your package does not import `package:build_runner` directly  you are fine to migrate.

The user importable packages have been migrated.

[2021-03-29 14:15] #3061 closed

[2021-03-29 14:42] jakemac53 commented on #3057
Right you would likely use a path dependency for development (using dependency_overrides) and then publish them both to pub (without the overrides).

[2021-03-29 20:27] SandroMaglione opened #3064 "Cannot resolve flutter i18n classes inside gen_I10n using build_runner"
Hi,

I am working on [`repo_case`](https://pub.dev/packages/repo_case), which uses code generation.

When generating code, I use the following:
[code]
When the `ParameterElement` is of type `AppLocalizations?` from [flutter internationalization](https://flutter.dev/docs/development/accessibility-and-localization/internationalization#adding-your-own-localized-messages), which is imported from `impo

[2021-03-31 03:51] SandroMaglione commented on #3064
The idea is that the package should take a method:
[code]
And extract the type of the parameter (`appLocalizations`), which should be `AppLocalizations?`.

I use `parameter.type.getDisplayString(withNullability: true)` to extract the type of the parameter.

The problem is when I call `getDisplayString` and the type of the parameter is `AppLocalizations?`, the returned `String` is `"dynamic"` inste

[2021-03-31 11:16] MatrixDev commented on #2835
I still have this problem with build_runner 1.12.2 :(

[2021-03-31 14:20] jakemac53 commented on #3046
@yfer can you also try deleting your flutter specific pub cache? It is at `c:/flutter/.pub-cache`

[2021-03-31 14:21] jakemac53 commented on #3064
I think this means it wasn't able to resolve the `AppLocalizations` type. Is that a generated class by chance?

[2021-03-31 15:29] natebosch commented on #3064
Yes. But not generated by a `Builder`.

https://flutter.dev/docs/development/accessibility-and-localization/internationalization

@SandroMaglione - does that class get generated in a file on disk, or does it only exist transiently within the flutter tools? If the latter, you might need to drop a stub for it or something on disk. If the former, have you run that code generation step?

[2021-03-31 18:45] SandroMaglione commented on #3064
@natebosch the class is generated automatically by flutter on the first launch of the app on a device/emulator. It is created inside `.dart_tool/flutter_gen`:

![Screenshot 2021-03-31 204005](https://user-images.githubusercontent.com/10065056/113194492-7f4a7080-9261-11eb-8cbd-ad067f2af4ac.png)

I think the file is updated on each launch. However, once generated the class is available and recognize

[2021-03-31 19:04] jakemac53 commented on #3064
My guess here would be that the build system can't actually see this file. Is this package depended on in your pubspec?

[2021-04-01 04:17] SandroMaglione commented on #3064
@jakemac53 What do you mean by 'depended on'?

My package only takes the type from the source/annotated class and builds a new file (class) with the same type. It is intended to work for any type with no specific dependency. This is the first time it fails to resolve a type.

[2021-04-01 05:54] nileshbhakre commented on #3058
I have fixed the issue with flutter upgrade..I am closing this issue

[2021-04-01 05:54] #3058 closed

[2021-04-01 15:06] jakemac53 commented on #3064
I mean in the `dependencies` (or `dev_dependencies`) of the root package (transitive deps are also allowed).

Do you have an explicit dependency on this package under `.dart_tool/flutter_gen/gen_i10n` in your pubspec?

This sounds like it is probably more of an issue with how flutter sets up that package. We have had a lot of issues with it in the past because its a very non-standard approach and

[2021-04-01 19:43] toshiossada opened #4644 "Problems with any in Packages NullSafety"
I've updated packages to nullsaffety version, include mockito, and now I get the following erro
![image](https://user-images.githubusercontent.com/2637049/113345793-55e51f80-9309-11eb-9eaa-627dadb7517c.png)

[2021-04-01 20:09] #4644 closed, assigned to nobody

[2021-04-02 04:35] SandroMaglione commented on #3064
Yes, in the application's `pubspec.yaml` I import `flutter_localizations` from the flutter sdk:
[code]
Furthermore, the `.dart_tool/flutter_gen` itself contains a auto-generated `pubspec.yaml`:
[code]
![Screenshot 2021-04-02 063401](https://user-images.githubusercontent.com/10065056/113380795-73ec6780-937d-11eb-8114-8752d5d895e4.png)

Do you think the issue can be solved? Should I open an issue on

[2021-04-02 15:59] natebosch commented on #3064
You would need something in your pubspec like

[code]

I'm not sure if that is likely to cause other problem.

It looks like `flutter_localizations` chose a generation strategy incompatible with `build_runner` in general. You might want to ask them for a compatible strategy. We can't resolve any code that isn't in your package and dependencies _as they are understood by pub_. If the flutter build

[2021-04-03 15:17] KalilDev opened #3068 "build_runner_core: StackOverflow on AssetGraph._addGeneratedOutputs with specific build_extensions"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* /home/pedro/projects/template_generator/build.yaml
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * build_runner_core 6.1.12
  * build_runner 1.12.2
* I wanted to create an builder which consumes .template.dart files

[2021-04-03 19:48] sarbogast commented on #3061
@jakemac53 But won't it still make Flutter run in unsound null safety mode just because there is a dependency that's not null safe?

[2021-04-03 21:29] kevmoo commented on #3061
@sarbogast – there is no RUNTIME dependency, so it's not an issue.

[2021-04-05 13:01] SandroMaglione commented on #3064
I see. I tried your solution but there is another problem with how the code gets generated:
[code]
Flutter generates a `pubspec.yaml` with the following content:
[code]
I [opened an issue](https://github.com/flutter/flutter/issues/79776) on the flutter repository about this.

[2021-04-05 14:44] jakemac53 commented on #3068
@KalilDev just to confirm do you have identical build extensions in your builder code? You can also try running `pub run build_runner doctor` to do some basic diagnostic checks.

[2021-04-05 16:29] KalilDev commented on #3068
I would expect not, my build.yaml contains the following `build_extensions` mapping: `build_extensions: { '.t.dart': ['.dart'] }`. But, after running `pub run build_runner doctor`, as you suggested, the result was the following:

[code]

Are extensions that end with `.dart` but are not exactly `.dart` not supported?

I created an minimum reproducible case [at this repository](https://github.com/Ka

[2021-04-05 19:14] jakemac53 commented on #3068
@KalilDev any extensions are supported, but the problem you are likely into here is that the input extension and output extension are identical, which is causing our code to get in an infinite loop (that should probably be fixed on our end also though).

It looks like you need to request support from the `source_gen` package to allow you to configure the input extension, so that you can set it at

[2021-04-06 00:47] KalilDev commented on #3068
Oh, alright then. Thanks a ton! Should i close this issue, or should it still be open until the infinite loop is fixed?

[2021-04-06 03:16] jakemac53 commented on #3068
Lets keep it open until we fix that issue

[2021-04-06 15:19] jakemac53 commented on #3068
Ah so it looks like we do validate the `build.yaml` config for this, but we don't do the same for the actual build extensions configured by the builder.

[2021-04-07 07:24] p0wl90 commented on #3024
Are here any updates on the release? I think this is the last package that hinders quite some people from migrating to null safety.

[2021-04-07 07:27] simolus3 commented on #3024
There are released versions of the build packages supporting the latest dependencies.

As usual, note that you don't need to wait until all your dependencies have migrated. You can start your null safety migration as soon as all the packages _you import_ have been migrated. Since you probably don't have an `import 'package:build_runner` somewhere in your code, that package is not blocking you.

[2021-04-07 08:05] leisim opened #3072 "Multi package aggregate builder"
I'm trying to create two builders. The first one (`myanalyzer`) should analyze all classes with a specific annotation and output a `*.info.json` file to the cache. Also classes in dependencies. The second builder (`mygenerator`) should aggregate all `*.info.json` files to a single `result.g.dart` file in the root package.

I tried several things but didn't find a working solution. The `mygenerator

[2021-04-07 08:30] p0wl90 commented on #3024
I'm sorry, I looked for a null-safe release and did not realize that web_socket_channel 2.0.0 is already supported. Thanks for the hint, I just upgraded!

[2021-04-08 12:37] iksent commented on #3046
And what about this?

Running the next check following the [official guide](https://dart.dev/null-safety/migration-guide#check-dependency-status):
`dart pub outdated --mode=null-safety`

Says it's not compatible with `nullsafety` yet:
`build_runner                   ✗1.11.1    ✗1.11.5     ✗1.12.2                ✗1.12.2`

[2021-04-08 13:07] simolus3 commented on #3046
IMO the guide is confusing here.

You can start migrating your app once all the dependencies that you import have migrated. If you don't import `package:build_runner` somewhere (you probably don't), that package is not blocking you.

[2021-04-08 13:15] simolus3 commented on #3072
I ran into a similar issue. Unfortunately, `findGlobs` only searches for assets in the package of the primary input (which is the root package here). I wonder if an api to allow searching for globs outside of the current package would be possible? Is that not supported by all implementations?

Anyway, I think you can work around this limitation by introducing a third builder. It would run on `all_

[2021-04-08 14:12] Albert221 opened #4645 "How to generate mock for Stream?"
Code:

[code]

Output:

[code]

mockito 5.0.0 - build_runner 1.11.5 - Flutter 2.0.3

[2021-04-08 14:37] jakemac53 commented on #3072
I think the solution @simolus3 suggested is the best approach here.

Getting access to all packages is a bit difficult though. The pubspec is only going to give you immediate deps. We should probably expose that more directly with an api of some sort.

One reason we don't allow this is that in bazel we don't have source files for dependencies. You would be able to resolve those assets, but not act

[2021-04-08 15:05] evanweible-wf opened #3073 "build_config v1.0.0"
👋   Hi there! I know you all are working on a bunch of NNBD migrations, but just wanted to check in on build_config. I saw that it [has been migrated](https://github.com/dart-lang/build/blob/master/build_config/CHANGELOG.md#100-dev), but at one point was maybe just [waiting on build v2 to be released](https://github.com/dart-lang/build/blob/master/build_config/pubspec.yaml#L32-L36)? Since that has

[2021-04-08 15:27] jakemac53 commented on #3073
The plan is to release all the null safety migrations at the same time (otherwise we end up with a lot of churn, if I released build_config now I would have to release every package that depends on it as well).

I think the main blocker left is package:code_builder getting a published version, we currently depend on the master branch of that package to use its pending nnbd release.

[2021-04-08 16:56] evanweible-wf commented on #3073
Gotcha, that makes sense - thanks!

[2021-04-08 16:56] #3073 closed

[2021-04-08 17:19] drvekariya6 commented on #2565
it is working............. thanks

[2021-04-08 18:41] #3068 closed

[2021-04-08 20:33] eriklange opened #4646 "Test fails due to generated mocks attemps to cast type 'Future<List<dynamic>>' to 'Future<Iterable<Weather>>'"
I'm mocking a method ```getWeather()``` which returns ```Future<Iterable<Weather>>()```

It seems like the generated mock class' `getWeather()` creates a new ```Future<Iterable<dynamic>>```, and then attempts to cast that directly to ```Future<Iterable<Weather>>```, which does not work.

This results in the error
[code]

weather_bloc.test.dart:

[code]

**MockWeatherRepository**
[code]

**flutter

[2021-04-09 12:38] kil0ba opened #3074 "Cannot generate files on Windows"
When i try to generate files on Windows is fails then tries to move them to the correct folder:

`FileSystemException: Cannot create file, path = 'c:\work\mobileapp\.dart_tool/build/generated/dol/lib/app/ui/screens/main_tabs_screen/tabs/services_tab/abonent_services/service_categories_screen/services_screen/subscription_details_screen/subscription_details_screen_store.store_generator.g.part' (OS
E

[2021-04-09 13:57] jakemac53 commented on #3074
Did this start breaking in a recent release or was this your first time trying it?

[2021-04-09 14:37] kil0ba commented on #3074
@jakemac53 first time trying, before that I worked on a mac

[2021-04-09 14:57] jakemac53 commented on #3074
ok, I know that in general things do work on windows, so I wonder if there is something specific about your windows machine that is somehow causing this...? What program are you using to run build_runner, maybe that also has something to do with it?

[2021-04-09 20:31] kil0ba commented on #3074
I tried through powershell, comand prompt and git bash terminal with comand "flutter packages pub run build_runner build / watch".

I don't know how specific the amd ryzen processor is, but what I have is what I have

[2021-04-09 20:32] kil0ba commented on #3074
I tried through powershell, comand prompt and git bash terminal with comand "flutter packages pub run build_runner build / watch".

I don't know how specific the amd ryzen processor is, but what I have is what I have

[2021-04-09 21:25] jakemac53 commented on #3074
Just trying to narrow down a repro case :). We do want to support generally whatever hardware/shell combination is causing this.

[2021-04-10 12:30] kil0ba commented on #3074
Upgrade project to Flutter 2 solved that issue, build_runner is still 1.10.11

[2021-04-12 11:44] gysipos opened #4647 "Stubbing method with return type of Future<void> is not possible with null safety"
Hi!

My Mock object (of Hives Box) has a delete method witch returns Future of type void and i simply cannot stub it.

Here is my annotation:
`@GenerateMocks([], customMocks: [MockSpec<Box<CachedLocation>>()])
`
but i also tried:
`@GenerateMocks([], customMocks: [MockSpec<Box<CachedLocation>>(returnNullOnMissingStub: true)])
`

here is how i try to stub:
  when(box.delete(any)).thenAnswer((_) asyn

[2021-04-12 11:51] gysipos opened #4648 "Missing prefix for Type object in generated .mocks.dart"
The generated code imports everything `as _inumber`, but it forgets to add the prefix for the Type decratation of the implemented file.

So for an annotation like this:
`@GenerateMocks([], customMocks: [MockSpec<Foo<Bar>>()])
`

the generated Class declaration looks like this:
`class MockFoo extends _i1.Mock implements _i2.Foo<Bar>
`
and i get `The name 'Bar' isn't a type so it can't be used as a

[2021-04-12 13:39] demos77 opened #3075 "No new version for null-safety ?"
build_runner is is ready for a new version ?
I have see PR for that.

Thanks

[2021-04-12 14:13] jakemac53 commented on #3075
We are still working on the release, its blocked on code_builder getting a published version which is probably still a few days out

[2021-04-12 14:38] brianschardt opened #3076 "When will this be migrated fully to null safety on Flutter pub?"
When will this be migrated fully to null safety on Flutter pub?

[2021-04-12 14:57] jakemac53 commented on #3076
Hopefully soon but can't promise timelines. You should not be blocked on this unless you directly import build_runner, you can ignore the `pub outdated` lines.

[2021-04-12 14:57] #3076 closed

[2021-04-12 14:58] jakemac53 commented on #3074
Interesting, do you know what version you had before?

[2021-04-12 19:04] #4638 closed, assigned to nobody

[2021-04-12 19:04] #4646 closed, assigned to srawlins

[2021-04-12 19:04] #4648 closed, assigned to srawlins

[2021-04-12 21:33] vborbely commented on #3046
Indeed, first I used `flutter pub run build_runner build`, instead of `dart run build_runner build`. It solved for me.

[2021-04-13 00:02] natebosch commented on #3074
At first glance I thought this was a case of long file paths like https://github.com/dart-lang/sdk/issues/27825

However it looks like the path in question here is already a bit shorter than 260 characters, so maybe it's a different issue.

[2021-04-14 13:43] xavierpjb opened #4649 "Runtime error when mocking Future"
Hello,

I get a runtime error of returning null when stubbing a future with mock objects. Static analyzer recognizes that i'm returning the correct object type so wondering what the issue is

[code]

the error is

[code]

[2021-04-14 14:21] #4649 closed, assigned to nobody

[2021-04-14 15:37] kil0ba commented on #3074
@jakemac53 1.22.6

[2021-04-15 05:28] jumperchen opened #3078 "A library can't opt out of null safety by default, when using sound null safety."
**Dart version**: 2.12.3

We follow [the guide](https://dart.dev/null-safety/unsound-null-safety#migrating-by-hand) to upgrade the Dart SDK to sound null safety, and disable some old version files with `// @dart = 2.10`. When running with `build_runner` as follows:
```dart --no-sound-null-safety run build_runner serve web:1234 --output=web:build/web --no-release```
The `--no-sound-null-safety` fla

[2021-04-15 16:01] jakemac53 commented on #3078
You will want to change the `sound_null_safety` option for the` build_web_compilers|entrypoint` builder:

[code]

[2021-04-15 16:02] #3078 closed

[2021-04-15 18:20] toshiossada opened #4650 "Test fail when I Throws a exception"
I Have a function that throws a Failure
[code]
And I writing a Test to verify if my function are throwing a exception

[code]
![image](https://user-images.githubusercontent.com/2637049/114916796-978ec380-9dfb-11eb-89bc-9868a4e49496.png)

thats works, but if I put a delay between act and expect the test go fail
[code]

![image](https://user-images.githubusercontent.com/2637049/114916823-a2e1ef00-9d

[2021-04-15 22:27] TheFabbiusCorp commented on #2835
Hello devs, I think I have come up with a solution to the riddle.

## The issue
Although it is written in the official Flutter documentation for [internationalization](https://flutter.dev/docs/development/accessibility-and-localization/internationalization#adding-your-own-localized-messages), package [`intl`](https://pub.dev/packages/intl) cannot generate boilerplate code (such as _messages\_*.dar

[2021-04-16 01:41] jumperchen commented on #3078
Thanks for the quick reply, would you consider to add the flag `sound_null_safety` to the document ? - https://github.com/dart-lang/build/blob/master/build_web_compilers/README.md

[2021-04-16 09:06] joeldegerman99 opened #4651 "Mocking methods always return null"
I can not get mockito to work with flutter version 2.0.4.

The 'test()' method in the IUserService returns an int.

This is how i mocked it, but everytime i run it it says: _type 'Null' is not a subtype of type 'int'
_

`class IUserServiceMock extends Mock implements IUserService {}`
`test('test', () {
      final IUserService userService = IUserServiceMock();
      when(userService.test()).thenRe

[2021-04-16 09:08] #4651 closed, assigned to nobody

[2021-04-16 14:43] jakemac53 commented on #3078
https://github.com/dart-lang/build/pull/3079

[2021-04-18 02:20] fzyzcjy opened #3083 "build_runner follows `.symlinks` and `.dart_tool` folder infinitely, causing "File name too long""
Hi thanks for the lib! When I use build_runner it has bugs as follows. It just follows `.symlinks` and `.dart_tool` folder infinitely, then filename is too long.

But IMHO, build_runner **should not** look at symlinks and dart_tool folders!

[code]

[2021-04-19 15:35] jakemac53 commented on #3083
This looks like a bug in the `watcher` package. The `build_runner` tool watches the root package dir, and I don't think its really avoidable for us.

But I think that its probably accurate that the `watcher` package should not follow recursive symlinks.

[2021-04-20 05:22] uc-dve opened #3087 "Can you please make it null-safe and support latest version of dart."
I am getting below error
![image](https://user-images.githubusercontent.com/28289763/115341540-6ed54800-a1c6-11eb-9ad5-a5872d4ba137.png)

[2021-04-20 10:31] nakajo2011 opened #4652 "Generator create wrong code about GlobalKey."
If target class has `GlobalKey` as field, the generator create wrong code. like this:
[code]

`State<StatefulWidget>` should be has prefix `_i2`, but it was nothing.

version: 5.0.5

[2021-04-20 14:15] jakemac53 commented on #3087
You can ignore this error - build_runner does support building null safe apps. We do have a null safe version coming out soon, but it won't block you in any way to not have that.

[2021-04-20 14:15] #3087 closed

[2021-04-21 03:20] xudjx opened #3092 "How to debug 'pub run build_runner build lib'"
I use 'pub run build_runner build lib' to generate some source code, How can I debug the generate process. I use android studio.

[2021-04-21 14:12] jakemac53 commented on #3092
See https://github.com/dart-lang/build/blob/master/docs/builder_author_faq.md#how-can-i-debug-my-builder. I don't have specific android studio docs but that will get you a regular dart script that you can debug like any other.

[2021-04-21 14:12] #3092 closed

[2021-04-21 17:30] #4650 closed, assigned to nobody

[2021-04-22 20:36] cadaniel opened #4653 "Generated Mock returns Future<dynamic> instead of Future<T>"
So it looks like Futures always return dynamic instead of the type they're mocking. This causes the compilation error

    MockCycleEventService.getLastCycleEventWithType' ('Future<dynamic> Function(List<CycleEventType>?)') isn't a valid override of 'CycleEventService.getLastCycleEventWithType' ('Future<CycleEvent?> Function(List<CycleEventType>)').

Class being mocked

    @injectable
    class C

[2021-04-23 07:26] heronlyj opened #3095 "The toJson method does not properly transform List<T> type parameters."
The data type is the following

[code]

// GENERATED CODE - DO NOT MODIFY BY HAND

[code]

But the correct toJson code should look like this

[code]

[code]

flutter doctor

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.0.3, on macOS 11.2.3 20D91 darwin-x64, locale en-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[

[2021-04-23 21:11] #4647 closed, assigned to nobody

[2021-04-23 21:42] jakemac53 commented on #3095
This looks like a `json_serializable` issue, i would transfer there but it is in a different org, you can find the repo for that package here https://github.com/google/json_serializable.dart

[2021-04-23 21:42] #3095 closed

[2021-04-24 05:33] CoderJava commented on #3046
I have the same issue on mac.

<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

<details>
  <summary>flutter pub run build_runner build</summary>

[code]
</details>

[2021-04-25 12:32] nank1ro commented on #3046
Same here:
build_runner version: `^2.0.1`
[code]

[2021-04-25 16:45] chinitadelrey commented on #3046
I can confirm this fix works on MacOS for some of the following dependencies:

  json_annotation: ^4.0.1
  chopper: ^4.0.0-nullsafety.1

dev_dependencies:
  chopper_generator: <4.0.0-nullsafety.1
  json_serializable: ^4.1.1
  flutter_launcher_icons: ^0.9.0
  logging: ^1.0.1

environment:
  sdk: ">=2.9.0 <3.0.0"

The current Dart SDK version is 2.13.0-211.6.beta.

Had a lot of issues with version s

[2021-04-26 04:27] thanhbuifossil opened #4654 "Generated Mock with method have generic parameter - test error"
My sample code:

[code]

Code in test file:
[code]
result fail:
[code]

So I try to fix in mock file be generated
[code]
I change from  ```Future<T>.value(null)```  to  ```Future<T?>.value(null)```
It work good
Because Mockito generate T is non-Nullable, but it assign null value

mockito version 5.0.5

[2021-04-26 04:52] BirjuVachhani opened #4655 "Mockito is not compatible with test: ^1.17.1"
I was trying to upgrade all the dev dependencies my project have and I got this conflicting error while upgrading Mockito to `5.0.5` and test package to `1.17.1`.

[code]

[2021-04-26 11:36] simolus3 commented on #1189
My understanding is that we do use analyzer summaries now, so I'm wondering if this is something that could be reconsidered?

I think builders would have to opt-in to this either way (the behavior is potentially breaking because two builders on different isolates can't share build resources), so maybe we can first start without analyzer support too. In my case, I have a set of builders that don't

[2021-04-26 14:07] jakemac53 commented on #1189
We still don't use analyzer summaries actually

[2021-04-26 14:09] jakemac53 commented on #1189
Fwiw, you could potentially use your own isolate, which you use a `Resource` to manage. That isn't all that different from how we use the compilers today. If you wanted to experiment with this that is probably where I would start.

[2021-04-26 15:33] jakemac53 commented on #3046
@CoderJava @nank1ro do you have dependency overrides in your pubspec?

[2021-04-26 15:35] nank1ro commented on #3046
No I don't

[2021-04-26 16:41] CoderJava commented on #3046
No.

[2021-04-26 18:28] jakemac53 commented on #3046
It looks like the method signature for `StructuredSerializer.serialize` changed between version [8.0.0](https://github.com/google/built_value.dart/blob/v8.0.0/built_value/lib/serializer.dart#L346) and [8.0.1](https://github.com/google/built_value.dart/blob/v8.0.1/built_value/lib/serializer.dart#L346).

This makes the latest `built_value_generator` not compatible with `built_value` 8.0.0 [as it cla

[2021-04-27 09:01] lifez opened #4656 "GenerateMocks not working on class that GetxController"
I have a class that extends GetxController from a library [Getx](https://pub.dev/packages/get) and uses GenerateMocks but I have a problem with the screenshot below. Please advise.

Mockito: 5.0.5
Get: 4.1.4

<img width="740" alt="Screen Shot 2021-04-27 at 15 48 53" src="https://user-images.githubusercontent.com/2588927/116213609-242c7080-a770-11eb-82bf-cdec589c0c13.png">

[2021-04-27 15:19] arthurpiccoli opened #4657 "GenerateMocks not properly generating mocks that use the Diagnosticable mixin"
After generating the following mock class:
`class _FakeTextStyle extends _i1.Fake implements _i12.TextStyle {}`

This error occurred:
`'Object.toString' ('String Function()') isn't a valid concrete implementation of 'Diagnosticable.toString' ('String Function({DiagnosticLevel minLevel})')`

It happened due to the `toString` method on `Diagnosticable` dependent classes, as `TextStyle` being one, ha

[2021-04-27 15:50] #4657 closed, assigned to nobody

[2021-04-27 21:55] pawelpetruch opened #4658 "How to mock a method with any function as the named argument?"
Before the null safety I could simply mock up the sendRequest(...) method like that:

[code]

where **sendRequest** is:

`Future<T> sendRequest<T>({required Future<T> Function() onGetData}) async
{
...
}`

How can this be done with null safety?
Can I still maintain the generic character of this stub and allow for any arguments to be passed in?

[2021-04-27 23:13] #4655 closed

[2021-04-28 01:29] CoderJava commented on #3046
It's working. Thanks.

[2021-04-28 17:54] #4658 closed, assigned to nobody

[2021-04-28 21:52] #4652 closed, assigned to srawlins

[2021-04-28 21:52] #4656 closed, assigned to srawlins

[2021-04-29 12:30] matejthetree opened #4659 "Cannot generate mock of class which mixes in DiagnosticableTreeMixin"
Since the recommended way is to code generate mocks, is there a way to use code generation with the fix mentioned here?
https://github.com/dart-lang/build/issues/4747

[2021-04-29 15:49] simolus3 commented on #3029
This is not really a clean solution, but do you think it could be possible to use a frontend server with incremental compilation to snapshot the build script? If we end up building multiple snapshots, the rebuilds should at least be cheap right? Could this also improve snapshot performance when only some builders change?

[2021-04-29 15:55] jakemac53 commented on #3029
Yes I was literally just thinking the same thing this morning - it would make it so that at least subsequent compiles were faster.

[2021-04-29 18:08] srawlins commented on #295
I'd be happy to write the plumbing for this feature.

Mockito's code-generation would really benefit from this, as we need to know when there are unresolved types. E.g.

[code]

If build.yaml is not set up correctly, then Mockito's code generation may run before Bar's code generation. When this happens, Mockito's builder has no idea that there is a problem. It can see the ClassElement for `Foo`, a

[2021-04-29 18:21] jakemac53 commented on #295
I think this ultimately boils down to exposing a way to get the `ResolvedLibraryResult` and/or `ResolvedUnitResult` objects? Definitely open to contributions here, but reach out as it will require a complicated rollout.

[2021-04-29 18:26] srawlins commented on #295
Yeah I think you're right. Sounds good, I'll try to poke around soon.

[2021-04-29 18:30] natebosch commented on #295
cc @kevmoo - this would potentially solve the angular use case - I think the discussion was around an API to get a `ResolvedLibraryResult`.

[2021-04-29 19:15] jakemac53 commented on #3046
I got a bit confused but i realize the original issue here is not necessarily resolved, @yfer are you still experiencing this problem?

[2021-04-29 19:15] #3019 closed

[2021-04-29 19:15] jakemac53 commented on #3019
Closing as I am assuming the dependency_override was the issue, feel free to comment here if that was incorrect

[2021-04-29 19:16] jakemac53 commented on #3072
I am going to close this issue, I don't think there is anything actionable at this point for us

[2021-04-29 19:16] #3072 closed

[2021-04-29 20:20] leisim commented on #3072
@simolus3 @jakemac53

Seems like I missed your responses. Thanks for the help I could solve the problem :)

[2021-05-01 18:53] EhiltonKazuo opened #4660 "Two tests with same code with different result (old version and new version of mockito)?"
Good afternoon,
I trying to mock Hive dependency, but no succeed. I tested the older version of mockito and it granted success, but when i use the mockito with null safety occur an error. I mocked the HiveInterface and Box in all tests.

Here is the old mockito version:

[code]

Here is the new version:
[code]

The *.mocks.dart code:
[code]

Here is the error:
![image](https://user-images.githubus

[2021-05-01 20:22] davidmorgan commented on #3046
Yes, sorry about that; some of the null safety changes in `8.0.0` turned out to not be workable, `8.0.1` was an incompatible fix. I thought `8.0.0` was effectively hidden to Flutter due to the analyzer dependency being incompatible, that's why I didn't do another major release.

[2021-05-02 04:24] cuongvue opened #4661 "No stub was found which matches the arguments of this method call"
I have a Cat model with a method that returns a non-null String as:
[code]
Then I try to run the test like:
[code]
But then I have an error:
[code]

How to fix the error please. I'm using `mockito: ^5.0.7`, below is my `flutter doctor`
[code]

[2021-05-03 05:33] pbhuvanesh opened #4662 "type 'Null' is not a subtype of type 'Future<String>'"
I am trying to mock a class method and I get the above error when I use `when().thenAnswer()`. Below is my code and test case

**`Oauth.dart`**
[code]

`**test.dart**`

[code]
Referemce: https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md

Can someone please point out my mistake and correct me? I am not sure where I am making the mistake.

Note: I am using sound null safety.

[2021-05-03 13:01] buttonsrtoys opened #3098 "linter 'always_specify_types' flags Map"
Dart package 'lint' flags the generated line below when 'always_specify_types' is set

    Sample _$SampleFromJson(Map json) {  // <- Specify type annotations
      return Sample(
        json['key'] as int?,
        json['report'] as String?,
      );
    }

changing first generated line to below fixes the problem

    Sample _$SampleFromJson(Map<String, dynamic> json) {

* Dart SDK Version (`dar

[2021-05-03 14:28] jakemac53 commented on #3098
Note that this package does support maps coming from YAML which doesn't have string keys. I would recommend `Map<Object?, Object?>`.

[2021-05-03 14:33] jakemac53 commented on #3029
I am going to go ahead and close this given we have incremental snapshot generation now, and fixing the actual problem is I think not worth the effort.

[2021-05-03 14:33] #3029 closed

[2021-05-06 19:45] natebosch commented on #3098
In general most builders won't make guarantees that they follow all possible lints. In particular lints like `always_specify_types` conflict with other lints that are more idiomatic.

I think this issue is asking for a specific builder to either conform to this lint or to suppress it - those issues need to be filed with the individual projects that implement the builders. I don't think this is act

[2021-05-06 19:45] #3098 closed

[2021-05-06 20:28] #4661 closed, assigned to nobody

[2021-05-06 20:28] natebosch commented on #3046
Another report of this happening: https://github.com/dart-lang/mockito/issues/402#issuecomment-832742028

[2021-05-06 20:31] natebosch commented on #3046
@jonasfj - I'm assigning to you for now since I think the bulk of the investigation required is in pub or the dart integration with pub.

For anyone experiencing this issue, you may be able to work around it by upgrading to `build_runner` version 2 which is migrated to null safety.

[2021-05-07 06:15] jeiea opened #4663 "Error: Can't access platform private library with use of generated mock of dart:io's HttpClient"
## Reproducible steps
[code]

## Expected behavior
Test success

## Actual behavior
[code]

## Additional context

I guess it has no problem with unsound null safety version according to [this](https://github.com/roughike/image_test_utils/blob/master/lib/image_test_utils.dart#L52).

[2021-05-08 10:28] yfer commented on #3046
Well, i've finally solved my initial issue.

you can easily reproduce it with running on windows:

1. (Take a project with freezed dependency any @freezed class (maybe this is unnecessary, not checked)
2. make sure .dart-tool is deleted
2. run c:\flutter\bin\flutter.bat pub get
3. run C:\flutter\bin\flutter.bat pub run build_runner build --delete-conflicting-outputs

**Letter-case of 'C' disk is d

[2021-05-09 10:31] eggnstone opened #4664 "The method XYZ features a non-nullable unknown return type, and cannot be stubbed."
A generic class with type T that has a method with type R cannot be stubbed.
In my case it's the class `CollectionReference` with the method `CollectionReference.withConverter()` from the `cloud_firestore` package.

Could this be fixed or is there a workaround?

https://pub.dev/packages/cloud_firestore
https://pub.dev/documentation/cloud_firestore/latest/cloud_firestore/CollectionReference/withCon

[2021-05-10 04:13] #4664 closed, assigned to nobody

[2021-05-10 12:19] fzyzcjy opened #4665 "Cannot mock class with parameter WebSocket - error: The library 'dart:_http' is internal and can't be imported."
Thanks for the wonderful lib!

Sample code:

[code]

Then try to generate mock for class C will yield:

[code]

Thus I cannot use this wonderful library :(

Screenshot:

![image](https://user-images.githubusercontent.com/5236035/117660871-41315c80-b1d0-11eb-87b8-9c8295bf010d.png)

![image](https://user-images.githubusercontent.com/5236035/117660892-47273d80-b1d0-11eb-8c3f-8237a5a87198.png)

[2021-05-10 14:28] #4665 closed, assigned to nobody

[2021-05-13 08:54] miaosun009 opened #3104 "Error: The return type of the method '_$BuildRequestSerializer.serialize' is 'Iterable<Object?>', which does not match the return type, 'Iterable<Object>', of the overridden method, 'StructuredSerializer.serialize'."
```flutter packages get && flutter pub run build_runner build --delete-conflicting-outputs```
[code]

[code]

[2021-05-13 09:42] GabrielKaci opened #3105 "Null check operator used on a null value"
Flutter 2.0.6 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 1d9032c7e1 (13 days ago) • 2021-04-29 17:37:58 -0700
Engine • revision 05e680e202
Tools • Dart 2.12.3

There is my pubspec :
[code]

When I run the build runner it crashes this way on a random file :

The issue is in this function :
[code]

Is there because of the null-safety feature ?
Here it tells that's

[2021-05-13 13:01] simolus3 commented on #3105
I think this is an `analyzer` bug that has been fixed already (I don't know if that fix has been published yet): https://github.com/dart-lang/sdk/pull/45823#issuecomment-839388593

[2021-05-13 14:06] jakemac53 commented on #3105
cc @scheglov

[2021-05-13 14:08] jakemac53 commented on #3104
@miaosun009 this is a bug in version `8.0.0` of the built_value package, you will need to update to at least `8.0.1`.

[2021-05-13 14:08] #3104 closed

[2021-05-13 16:48] #4653 closed, assigned to nobody

[2021-05-13 17:18] LiamConan commented on #3105
Thanks @simolus3 ! I'll thus wait for the next release.
The only workaround i found is to change the function i quoted into the following one :
[code]
I don't know if it's a good idea or if it can break something else (it shouldn't) but it works anyway.

[2021-05-13 18:16] scheglov commented on #3105
If this is something that I could reproduce, it might be potentially interesting to try, this error is not something specific related to the code that I replaced, but might be an issue with caching and invalidation. So, while it might have been fixed, there is a chance that it will re-appear differently.

[2021-05-14 15:27] cadaniel opened #4666 "Conditionally disable fakes"
I'm using the generator, and I'm having troubles with the generated fake classes from moor.

[code]

I've opened an issue with moor at https://github.com/simolus3/moor/issues/1192 but in the mean time, I would like to conidtionally disable Fakes. I don't use them when stubbing personally, instead feeding 'real' classes.

[2021-05-15 14:06] marianhlavac commented on #3046
This issue still persists, cannot build the project with latest flutter version, now the only solution seems to downgrade the flutter to <2.0... 🙄

<details>
<summary><code>flutter doctor -v</code></summary>

[code]
</details>

<details>
<summary><code>flutter pub run --no-sound-null-safety build_runner build</code></summary>

[code]
</details>

[2021-05-15 14:37] simolus3 commented on #3046
@marianhlavac Is there any reason for not using the latest `build_runner`? The current version is 2.0.3. If you can't use that, can you try at least using `^1.10.4` as a lower bound?

[2021-05-15 15:56] marianhlavac commented on #3046
@simolus3 Because then it gives different error saying `Generator cannot target libraries that have not been migrated to null-safety.`. My sdk constraints are set to `sdk: '>=2.11.0 <3.0.0'`, and I'm running build_runner with `--no-sound-null-safety` option.

[2021-05-15 16:22] simolus3 commented on #3046
Ah I see, in that case it looks like you'll have to use `build_runner` 1.x for now. But I still think that you're seeing a different error than OP here. `build_runner` starts running, but then fails to snapshot the build script.

If you take a look at the `.dart_tool/build/entrypoint/build.dart` file in your project, do you see a `// @dart=2.9` comment somewhere? If not, the problem is likely that

[2021-05-15 16:24] marianhlavac commented on #3046
After long and painful troubleshooting I figured out it was caused by incompatible version of `json_annotation`. Setting the conflicting versions to `any`, in pubspec.yaml, and then locking then to resolved versions from lockfile did the trick and it builds now.

@simolus3 Thanks for your help.

[2021-05-17 14:30] jakemac53 commented on #3046
@marianhlavac

Note that the `Generator cannot target libraries that have not been migrated to null-safety` should be coming from a specific builder and not build_runner. The log line should indicate which builder is logging that message. You can likely downgrade that builder to the previous version if you need it to run on opted out code.

[2021-05-17 14:31] jakemac53 commented on #3046
I am going to close this issue as it looks like the original problem is resolved now (or a workaround was found).

[2021-05-17 14:31] #3046 closed

[2021-05-17 19:57] scatboy777 opened #3106 "FromJson method in .g.dart file does not consider nullable input parameter"
I have an issue with the code generated in the .g.dart file

In my model class I have an attribute with a custom Json formatter:

[code]

And the fromJson / toJson are as follow:

[code]

BUT in the .g.dart file the input parameter is missing the "?":
`geopoint: Event._fromJsonGeoPoint(json['geopoint'] as Map<String, dynamic>),`

This is blocking me because this field is nullable...my only solutio

[2021-05-17 20:15] bertiepinnock opened #4667 "Mocks generated by @GenerateMocks do not implement secondary generic types for typed-mocks"
Hi there,

I think I've noticed an issue with the `@GenerateMocks` annotation when it comes to applying secondary generic types (i.e. types of a type). For example the following class/mocks:
[code]
Produces this as generated mock code:
[code]

This produces a compilation error on the `MockFoo` override of `doNothing` that states:
`'MockFoo.doNothing' ('void Function(Map<String, dynamic>?)') isn't

[2021-05-17 20:33] jakemac53 commented on #3106
This looks like a bug for the json_serializable package, can you refile it over there https://github.com/google/json_serializable.dart/issues/new? I would transfer it but its under a different org so I can't.

[2021-05-17 20:33] #3106 closed

[2021-05-17 20:45] umitmutlurize commented on #3106
you can use for transferrring from json to dart "https://app.quicktype.io/"  instead of json_serializable lib

[2021-05-18 04:57] nazrinharris opened #4668 "Mocking a Hive method, box.put() produces error"
So basically, I want to check whether I have passed whatever I need to pass to the HiveInterface and Box when I want to store something.

Whenever I tried to test this:
[code]

I get this error
[code]

But this code works fine:
[code]

[2021-05-19 16:26] #4662 closed, assigned to nobody

[2021-05-19 16:26] #4663 closed, assigned to srawlins

[2021-05-19 16:26] #4666 closed, assigned to srawlins

[2021-05-21 14:01] dalewking commented on #2835
I started seeing this issue again when I switched my l10n.yaml file to say:

    synthetic-package: false

It no longer generates a synthetic package, but some other part of flutter seems to think that there must be a synthetic package and fails because it cannot find its pubspec.yaml file

[2021-05-22 07:09] v7lin opened #3109 "How to get class PrefixedIdentifier in GeneratorForAnnotation"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`)
Dart SDK version: 2.12.3 (stable) (Wed Apr 14 11:02:39 2021 +0200) on "macos_x64"

* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
build_runner: ^2.0.3

* What builder(s) you are using

[2021-05-23 14:29] PuffPastry opened #3110 "build_runner produces Severe Error - Null check operator used on a null value"
Hi all,

I have been searching for a few hours now and am not able to solve the error. It is kind of a problem related to flutter, but the producing command is `flutter pub run build_runner build`, which I think is this repo.

The app is still compiling and tests are still passing, even after running `dart pub upgrade --nullsafety` for all packages except one. The problem occurs after I have added

[2021-05-24 14:52] jakemac53 commented on #3110
This looks like it is happening inside the analyzer package, can you confirm you are on the latest version of that (1.5.0)? I know that some similar issues have been fixed.

[2021-05-24 15:06] PuffPastry commented on #3110
Yes, I am. From pubspec.lock:

  analyzer:
    dependency: transitive
    description:
      name: analyzer
      url: "https://pub.dartlang.org"
    source: hosted
    version: "1.5.0"
  analyzer_plugin_fork:
    dependency: transitive
    description:
      name: analyzer_plugin_fork
      url: "https://pub.dartlang.org"
    source: hosted
    version: "0.5.1"

[2021-05-24 15:10] jakemac53 commented on #3109
You need to get the AST node which represents the original source using the [astNodeFor](https://pub.dev/documentation/build/latest/build/Resolver/astNodeFor.html) api. Then I believe you can access the `name` property of that node and that should give you a [PrefixedIdentifier](https://pub.dev/documentation/analyzer/latest/dart_ast_ast/PrefixedIdentifier-class.html) if there is a prefix.

[2021-05-24 15:10] #3109 closed

[2021-05-25 18:25] #4667 closed, assigned to srawlins

[2021-05-25 19:31] jakemac53 commented on #2894
@natebosch did this get resolved?

[2021-05-25 19:33] natebosch commented on #2894
Not yet, I couldn't figure out what was happening in `stack_trace` and this fell off my radar

[2021-05-25 19:38] jakemac53 commented on #2894
no worries, I was just wondering if we can close it :D

[2021-05-25 19:48] ekweible opened #3113 "Feature Request: separate dev_builders entry for configuring builders only used for dev tasks"
[The `build.yaml` file is intended to be published as a part of any package that has one.](https://github.com/dart-lang/build/blob/master/build_config/README.md#publishing-buildyaml-files) By doing so, build_runner knows how to build each dependency. Because of this, any builder applied to a package via its public `build.yaml` is effectively a part of its public API, meaning that those builders sh

[2021-05-25 22:17] domesticmouse opened #3114 "Failed to precompile build_runner:build_runner"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`)
  * `Dart SDK version: 2.13.0 (stable) (Wed May 12 12:45:49 2021 +0200) on "macos_x64"`
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * `build_runner: ^2.0.4`
* What builder(s) you

[2021-05-25 22:41] domesticmouse commented on #3114
Related: https://github.com/dart-lang/sdk/issues/46136

[2021-05-25 22:54] jakemac53 commented on #3114
This was a bad release of analyzer, which depended on a not yet released version of meta but didn't have the version constraints right.

That meta version (1.4.0) is now released, and updating to that should fix your issue.

[2021-05-25 22:54] #3114 closed

[2021-05-26 00:21] #4781 closed, assigned to nobody

[2021-05-26 00:36] #4617 closed

[2021-05-26 02:05] bayuly94 commented on #3114
how to fix it ?

[2021-05-26 02:33] fringefilmsoz opened #3115 "Issue: Failed to precompile build_runner:build_runner"
Received the following error on installing and running build_runner (attempting to create [auto_route](https://pub.dev/packages/auto_route_generator)):

[code]
pubspec.yaml
`dev_dependencies:
  auto_route_generator: ^2.1.0
  build_runner: ^2.0.4`

* Dart SDK Version: Dart SDK version: 2.13.0 (stable) (Wed May 12 12:45:49 2021 +0200) on "windows_x64"
* Flutter version: 2.2.0 (beta channel)
* What p

[2021-05-26 02:41] fringefilmsoz commented on #3115
Appears related to analyzer 1.6.0.
I was able to get successful compilation by forcing a lower version.

I added the following to dev_dependencies:
`analyzer: 1.4.0`

[2021-05-26 02:47] claudiolibanez commented on #3115
I added and removed the package and it went back to work!

[2021-05-26 08:44] jinosh05 commented on #1676
Try to use add the package in the dev_dependencies
    analyzer: 1.4.0

[2021-05-26 11:51] cyx977 opened #4669 "any doesnot work #Solved"
[code]

however It works when I do
[code]

 How do I make use of ```any``` there ?

[2021-05-26 13:14] Ruzo commented on #3115
Actually, updating analyzer to 1.7.0 and source_gen to 1.0.1 worked for me.

[2021-05-26 14:20] jakemac53 commented on #3115
This is now resolved, see https://github.com/dart-lang/sdk/issues/46136

[2021-05-26 14:20] #3115 closed

[2021-05-26 14:24] jakemac53 commented on #3114
You should just need to `pub upgrade`, you can require the latest meta (`meta: ^1.4.0`) or the latest analyzer (`analyzer: ^1.7.0`) or both as well to ensure you get good versions.

[2021-05-26 15:26] #4669 closed, assigned to nobody

[2021-05-26 15:44] #4645 closed, assigned to nobody

[2021-05-26 15:44] #4668 closed, assigned to nobody

[2021-05-26 15:44] #4654 closed, assigned to nobody

[2021-05-27 01:31] exeptionerror commented on #1676
[[Solved] Failed to precompile build_runner:build_runner Error on flutter pub](https://fluttercorner.com/failed-to-precompile-build-runner-build-runner-error-flutter/)

[2021-05-27 01:31] exeptionerror commented on #2565
[[Solved] Failed to precompile build_runner:build_runner Error on flutter pub](https://fluttercorner.com/failed-to-precompile-build-runner-build-runner-error-flutter/)

[2021-05-27 15:15] miguelcmedeiros opened #4670 ""T call()" method of an abstract class is not part of the generated mock"
Before migrating to NNDB I would use Mockito to mock methods that are passed in input to methods or classes. As an example, if I'm testing class `DoesALot` and one of the input fields is a callback (`someExternalAPICallback`), then I would have the following:
[code]

Since I found myself creating several  mocks with the same signature as `ActionMock` then I started using the following instead:
[co

[2021-05-27 15:34] jakemac53 commented on #2565
Note that you should not need to do any workarounds any longer - even for flutter projects (initially these still had an issue due to flutter pinning to an older meta).

A simple `pub upgrade` or `flutter pub upgrade` should fix the issue for all. If it does not please let us know.

[2021-05-27 16:09] miguelcmedeiros opened #4671 "Non-nullable field in a callback becomes nullable in the generated mock"
When generating a mock for the following class, it makes the 2nd field in action nullable:
[code]

It generates:
[code]

`action` became nullable in the generated mock.

I'm using Mockito 5.0.9.

[2021-05-28 17:49] craiglabenz commented on #3046
I continued to have this issue until I specified `built_value: ^8.0.6` in my pubspec.yaml file. Transitive dependencies had left it at 8.0.0 in my lock file.

[2021-05-29 02:38] exeptionerror commented on #1676
To solve this error The problem is in the analyzer plugin. When I add the analyzer dependency 1.5.0 in the dev-dependencies of pubspec.yaml worked for me. Just open your pubspec.yaml file. in the dev_dependencies just add analyzer dependency 1.5.0. Same as below.
Source [[Solved] Failed to precompile build_runner:build_runner Error on flutter pub](https://fluttercorner.com/failed-to-precompile-bui

[2021-06-01 00:56] timnew commented on #2835
The issue came back when `generate: true` in `pubspec.yml` with `synthetic-package: false` in `i10n.yml`.
It is useful when build a library with `l10n` support, when I want all the generated code in my lib folder rather than a `synth project`, but clearly `build_tool` would think `flutter_gen` is still a thing, so when it try to find that direct not even exists, it breaks the whole build.

[2021-06-01 11:18] boldt opened #4672 "MissingStubError when mocking DateTime: 'hashCode' / '==' / 'toString'"
We're trying to migrate our mockito-tests to null-safety. We followed the [null-safety guide](https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md).
Now we see the following issues, when we are "working" with the stubs (like `expect` or `indexOf` in an array):

**1) MissingStubError: 'hashCode'**

[code]

**2) MissingStubError: '=='**

[code]

**3) MissingStubError: 'toString'**

[2021-06-01 12:17] boldt opened #4673 "expect(false, true) works"
## MWE

[code]

## Issue

A test using the above code succeeds.

![grafik](https://user-images.githubusercontent.com/750793/120322336-97338480-c2e4-11eb-9f66-8fd537932518.png)

## Expected

Should throw an exception.

## Our setup

* dart: 2.13.0
* flutter: 2.2.0
* mockito: 5.0.8

[2021-06-02 02:34] #4671 closed, assigned to nobody

[2021-06-02 11:47] EhiltonKazuo opened #4674 "Default @GenerateMocks and custom @GenerateMocks has different returns (Generics to dynamic)"
Hi, i'm using the custom mocks, but when i run the build_runner the vscode found 4 problems in generated code. But when i use the default mocks the error doesn't occur.

Here is the custom generate code:

[code]

The default generate code:

[code]

[2021-06-03 03:10] jodinathan opened #3118 "even without dart:html anywhere in the code it throws conflict with native dart:html type"
Dart SDK version: 2.13.1 (stable) (Fri May 21 12:45:36 2021 +0200) on "macos_x64"
build_web_compilers 3.0.0

I am not using dart:html and it still complains when I try to make a JS wrapper around MediaStream: Error: JS interop class 'MediaStream' conflicts with natively supported class 'MediaStream' in 'dart:html'.

[2021-06-03 14:18] jakemac53 commented on #3118
This sounds like a more general dart sdk issue? Transfering it to that repro.

[2021-06-03 18:20] #4660 closed, assigned to nobody

[2021-06-03 18:21] #4659 closed, assigned to nobody

[2021-06-04 13:52] VladimirCimbora opened #4675 "we can't define a stub on an object that we want to mock before constructing it, but the constructor for the mock prevents us from stubbing the public member"
[code]

This is how constructor of tested class looks like.

[code]

Bad state: No method stub was called from within when(). Was a real method called, or perhaps an extension method?
LateInitializationError: Local 'diagnosticsScreenBloc' has not been initialized.

Those are the errors I get when I try to run the tests.

If i remove this when from setup I get this error
type 'Null' is not a subtyp

[2021-06-04 14:47] #4675 closed, assigned to nobody

[2021-06-04 19:39] searchy2 commented on #3046
@craiglabenz your solution worked for me, thank you!
Unfortunately, when I try to regenerate the json_serializable files, it now throws this error:
`Generator cannot target libraries that have not been migrated to null-safety.`

This is really bad and not a good dev experience.

[2021-06-07 17:01] #4674 closed, assigned to nobody

[2021-06-07 18:37] #4672 closed, assigned to srawlins

[2021-06-07 18:39] #4628 closed, assigned to nobody

[2021-06-07 18:41] #4614 closed, assigned to nobody

[2021-06-07 18:44] #4758 closed, assigned to nobody

[2021-06-08 15:33] #4673 closed

[2021-06-09 02:48] rockerhieu opened #4676 "@GenerateMocks generates incorrect mock for TabController"
I'm using `mockito: ^5.0.10`.

[code]

Which generates:
[code]

And the above generated code has a compile error for:
[code]

`_i3.Cubic.ease` should be `_i3.Curves.ease` instead.

[2021-06-09 14:08] yeony102 opened #4677 "Manually overriding a mock method doesn't work"
Following the instruction here(https://github.com/dart-lang/mockito/blob/master/NULL_SAFETY_README.md#manual-mock-implementaion), I tried overriding a method that gets a non-nullable parameter to accept a nullable type parameter in Mock.

Example code to reproduce this issue:

Test target classes
[code]

Test code
[code]

However, despite the overriding, I still see the error message saying "The a

[2021-06-09 19:11] #4677 closed

[2021-06-10 19:44] natebosch commented on #2894
Details of the `stack_trace` bug in https://github.com/dart-lang/stack_trace/issues/111

This stemmed from a change in the VM's stack traces inside the `Chain.capture` zone: https://github.com/dart-lang/sdk/issues/46326

[2021-06-11 00:59] nt4f04uNd opened #4678 "returnValueForMissingStub is not generated"
`returnValueForMissingStub` is not generated for methods that return `Future<dynamic>`.
Is that intentional?

[code]

Produced code

[code]

[2021-06-11 01:17] #4678 closed

[2021-06-11 05:43] araruna opened #3124 "`build_runner watch` crashed during `flutter clean`"
* Dart SDK Version (`dart --version`): `Dart SDK version: 2.13.1 (stable) (Fri May 21 12:45:36 2021 +0200) on "linux_x64"`
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`): `build_runner ^2.0.4`
* What builder(s) you are using (or writing yourself). Try to give a short summary of what they do.: `injectable_generator ^1.4.1` and `moor_generator ^4.3.1`
*

[2021-06-11 06:11] flutter-clutter opened #4679 "@GenerateMocks collides with previously defined mocks"
I have a project with hundreds of tests and 38 different mocks (all together in one shared mock file).
Now I want to migrate to @GenerateMocks.

What I did was adding

[code]

with the list of all classes to be mocked into that file.

Then I got the response that there is a name clash (understandably as there were already manually defined mocks). So I followed the [README](https://github.com/dart-

[2021-06-11 11:47] moseskarunia opened #3125 "Generating files on github actions yields Null check operator used on a null value error (works locally)"
## Script which yields the error

[code]

Confusingly the error only happened on github action CI and not local, even though I use the exact same script on both local and remote.

## Error Log

<details>
  <summary>Log</summary>

[code]
</details>

## Github action

<details>
  <summary>Github action.yaml</summary>

[code]
</details>

To give some perspective, here's my folder structure:

<details

[2021-06-11 11:54] kuhnroyal commented on #3125
You probably don't have your `pubspec.lock` checked int Git or you run `flutter pub upgrade` in CI which leads to different dependencies during the CI run.

[2021-06-11 12:20] moseskarunia commented on #3125
Hi thanks for the reply. I never checked in my `pubspec.lock` file and I didn't run `flutter pub upgrade`. See my github ci file for more info

[2021-06-11 12:23] kuhnroyal commented on #3125
That is what I am saying. That can lead to CI using newer dependencies than you are using locally.
Try running `flutter pub upgrade` locally and then `flutter pub run build_runner build`.

[2021-06-11 12:29] moseskarunia commented on #3125
Thank you. I'm able to reproduce it. This is quite strange because my pubspec.yaml use an exact versioning. For example `clock: 1.1.0` instead of `clock: ^1.1.0` or `clock: '>=1.1.0 <2.0.0'`.

Do you know what caused the error? Thanks

[2021-06-11 13:12] kuhnroyal commented on #3125
No, one of the transitive dependencies causes this since they are not locked. You should diff you `pubspec.lock` before and after the upgrade.
For this reason it is advised to commit your `pubspec.lock` for app projects but not for libraries.

[2021-06-11 14:12] moseskarunia commented on #3125
Okay then. Thanks for the tip. But I think I'll still keep this issue opened because the error is happened on build_runner.

[2021-06-11 14:28] jakemac53 commented on #3125
@kuhnroyal it looks like you are hitting an unexpected variant somehow where a package exists as a dependency (maybe of one of your transitive deps), but it does not appear in your `package_config.json` file.

I would need more information to know exactly how this is happening...

[2021-06-11 14:31] jakemac53 commented on #3125
If you could try debugging your build script that might help, you can use these instructions https://github.com/dart-lang/build/blob/master/docs/builder_author_faq.md#how-can-i-debug-my-builder. Specifically it would be helpful to know exactly what package it is trying to look up when this fails - you can configure your debugger to stop on caught and uncaught exceptions and then see what the value

[2021-06-11 14:40] jakemac53 commented on #3124
Thanks for the report!

I think this is probably a race condition where a file was deleted after we checked if it existed, but before we actually read it. A subsequent build should work fine, and there isn't a whole lot we can reasonably do in this situation. You should just restart the build process.

[2021-06-11 14:40] #3124 closed

[2021-06-11 17:11] #4679 closed, assigned to nobody

[2021-06-12 07:53] moseskarunia commented on #3125
Hi, I found the problematic package. After running the `flutter pub upgrade`, the only library which immediately upgraded was win32

[code]

I then run the `flutter pub run build_runner build --delete-conflicting-outputs`, and the CI error was reproduced.

And then. I added `win32: 2.0.5` to my dev_dependency, and run `flutter pub run build_runner build --delete-conflicting-outputs` again. The bui

[2021-06-12 09:22] moseskarunia commented on #3125
The problem is, on fresh install (either on CI or running flutter pub upgrade locally) removes connectivity dependency. This problem only surfaces on flutter 2.2.0. I didn't find this bug on flutter 2.0.6.

So the solution is by adding `connectivity: 3.0.6` to my dev_dependency (I didn't have it in my dev or non dev dependency in the first place).

[2021-06-12 09:27] kuhnroyal commented on #3125
Well, then one of your dependencies that you recently updated probably doesn't have `connectivity` as transitive dependency anymore. You should always try to declared every package that you import in the pubspec.yaml.

[2021-06-12 10:55] jaumard opened #3126 "Limitation on generated files (path and extension)"
Hello,

I have developed a package builder [intl_flavors](https://pub.dev/packages/intl_flavors) that basically take you localisation class and transform it into ARB, then once all ARB are present it generate all the localization files.

It does the same as intl_translation but run with build_runner instead of custom CLI commands.

When developing this builder I found myself limited with the way b

[2021-06-12 14:34] moseskarunia commented on #3125
My flutter app doesn't use connectivity at all. And the error only happens when generating / running build_runner. It run fine on debug run. And the only thing I changed to break it is by upgrading from flutter 2.0.6 to 2.2.0. Reverting back to 2.0.6 works immediately.

[2021-06-13 05:50] nt4f04uNd opened #4680 "Mocks are not generated not in `test` folder"
I'd like to mock some classes in `integration_test` folder, though codegen only works in `test` folder

[2021-06-14 16:10] jakemac53 commented on #3126
This is a pretty hard constraint based on the design of the build apis, and the cross-build-system compatibility that we provide. Generally, all inputs and outputs must be known ahead of time, before we run the build. This is specifically a limitation of the `bazel` build system (or at least the dart build rule implementation we use internally with it).

We have explored some other options to make

[2021-06-14 16:11] jakemac53 commented on #3126
This probably causes an extra build to happen each time though? The build system will just see these as "new" files and then probably rerun the build if they change, but that might be generally OK. Just know that this isn't a supported path right now so any issues around invalidation and things we won't be able to help with.

[2021-06-15 12:07] LeoK987 opened #3127 "FileSystemException: Deletion failed"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (Dart SDK version: 2.13.3 (stable) (Wed Jun 9 12:44:44 2021 +0200) on "linux_x64")
* What package(s) from this repo you are using, and the version (i.e. `build_runner 2.0.4`)
  * _If you are not sure, try checking your `pubspec.lock` file._
* What

[2021-06-15 14:09] jakemac53 commented on #3127
This looks like it was an OS level failure, I would guess possibly hardware related or maybe just a random failure.

I am going to close this issue as it looked like we handled it as intended, but if you see it repeatedly you may want to look into running a diagnostic on your hard drive?

[2021-06-15 14:09] #3127 closed

[2021-06-15 19:24] natebosch commented on #3074
Even though we weren't able to find a root cause here I'm going to close if this no longer repros on recent version of flutter.

[2021-06-15 19:24] #3074 closed

[2021-06-15 21:09] MlecznyU opened #4681 "anyNamed for required named"
In readme there is a Cat class:

`class Cat {
  String? sound() => 'Meow';
  bool? eatFood(String? food, {bool? hungry}) => true;
  Future<void> chew() async => print('Chewing...');
  int? walk(List<String>? places) => 7;
  void sleep() {}
  void hunt(String? place, String? prey) {}
  int lives = 9;
}`

For named argument you recommend: anyNamed, argThat, captureAnyNamed and captureThat

My questi

[2021-06-16 03:51] code-4-bread opened #4682 "Mocking inner class to import certain data"
I am having trouble mocking a class that is used externally.

**user_utils.dart**
[code]

In one of my widget, this `UserUtils.getUserID` will be called. I have mocked the class to return certain UserID.
But during the test, seems my mock is not being called. Must I pass in the mock as parameter? If so, my widget doesn't take UserUtils as param, any other way to make this work?

[2021-06-16 14:59] #4682 closed, assigned to nobody

[2021-06-16 19:49] annagrin opened #3129 "[build_runner] Do not sent the file contents with the response to a HEAD request."
See https://github.com/dart-lang/webdev/issues/1345.

Some change in SDK uncovered a problem where build_runner sends the whole file contents to the client, but the
client does not read it, causing broken pipe errors in some configurations but not the others.

The HEAD request spec mentions:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

[2021-06-16 20:01] jakemac53 commented on #3129
Is this specifically for build_daemon?

[2021-06-16 20:10] annagrin commented on #3129
yes

[2021-06-17 19:29] #4681 closed, assigned to nobody

[2021-06-18 13:16] creativecreatorormaybenot opened #3131 "[build_runner] DefaultBuildTargetSerializer.serialize type mismatch"
## Problem

In one of our packages, `flutter pub run build_runner build ` fails instantly, it seems like it is failing to compile:

[code]

This type mismatch is logged many times, here is the full log:

<details><summary>Click to expand logs</summary>

[code]

</details>

I have the feeling this might be a version issue - I have tried to change `build_runner` versions and similar, but I have not

[2021-06-18 16:14] jakemac53 commented on #3131
Duplicate of https://github.com/dart-lang/build/issues/3104, you will need to update to `built_value` version 8.0.1 or higher

[2021-06-18 16:14] #3131 closed

[2021-06-19 05:29] srsudar opened #4683 "Should the *.mocks.dart files be in version control?"
Do you have an opinion of if the generated `*.mocks.dart` files should be included in version control?

Given that by default they are emitted in the adjacent folder (as opposed to a `generated/` directory or similar) I'm inclined to version them. As you point out [here](https://github.com/dart-lang/build/issues/4679#issuecomment-859697456), however, they can be ephemeral.

An argument in favor of

[2021-06-21 12:40] salman731 opened #3132 ".json_serializable.g.part from .dart which is not specified in the `build.yaml`"
Builder json_serializable:json_serializable outputs .json_serializable.g.part  from .dart which is not specified in the `build.yaml`

* Dart SDK version: 2.12.3
* build_runner 1.11.1
* Windows 10

I am trying to generate json_serialization and moor_generator code with following build.yaml

[code]

[2021-06-21 13:23] VCortes opened #3133 "Error trying to use mockito on Flutter (No such file or directory)"
* Dart SDK Version (`dart --version`)

Dart SDK version: 2.13.1 (stable) (Fri May 21 12:45:36 2021 +0200) on "windows_x64"

* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)

build_runner: ^2.0.4

* What builder(s) you are using (or writing yourself). Try to give a short summary of what they do.

I'm using mockito to generate mocks.

* Whether you are usi

[2021-06-21 14:14] jakemac53 commented on #3133
When in a flutter project you should run `flutter pub run build_runner build`, can you try that? I haven't seen that specific error before though...

[2021-06-21 14:36] jakemac53 commented on #3132
We will need some more information here:

- Run the build with --verbose and provide the relevant logs
- Contents of your pubspec.yaml (at least all dependencies sections, including overrides if present)

[2021-06-21 15:39] VCortes commented on #3133
Worked perfectly!
It wasn't clear in the documentation, but it seems obvious to non-beginners.
Thanks!

[2021-06-21 15:39] #3133 closed

[2021-06-22 15:02] kristijorgji opened #3135 "How to use kiwi_generator 3.0.0 with this ? I get error after upgrade"
`Dart SDK version: 2.13.1 (stable) (Fri May 21 12:45:36 2021 +0200) on "macos_x64"`
`Flutter 2.2.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision d79295af24 (11 days ago) • 2021-06-11 08:56:01 -0700
Engine • revision 91c9fc8fe0
Tools • Dart 2.13.3`

Using build_runner version: "2.0.4"

build.yml content:
[code]

Running same script as before upgrade to new version i

[2021-06-22 15:11] jakemac53 commented on #3135
What are you trying to do accomplish with your config? What you have now isn't actually configuring anything, there needs to be something passed (which is why it is complaining about a `null`) value there.

[2021-06-22 15:14] kristijorgji commented on #3135
As mentioned, this is old configuration that worked fine before upgrade. I did not update any config

[2021-06-22 15:19] jakemac53 commented on #3135
Again I would need to understand what the previous config was trying to achieve.... it isn't valid config. You could possibly just delete the whole `build.yaml` file?

[2021-06-22 15:22] kristijorgji commented on #3135
I don't know what was trying to achive, was documented in `kiwi_generator` and without it kiwi was not running.
It was working totally fine generating `injector.g` file for kiwi di container.

Now after upgrade does not work anymore, so the kiwi_geneartor builder is not called.

I am trying to create some config for the builder but without success. No idea what to fill those values with extension

[2021-06-22 15:28] kristijorgji commented on #3135
I deleted `build.yaml` and runned

```flutter packages pub run build_runner build```

and now it executed the generator worked...

So steps here were wrong in the 3rd party package saying to create that build.yaml....
![Screenshot 2021-06-22 at 17 27 27](https://user-images.githubusercontent.com/15630854/122953766-2e897600-d37f-11eb-806a-88f0630035f0.png)

https://pub.dev/packages/kiwi_generator

[2021-06-22 15:39] jakemac53 commented on #3135
You can use the `auto_apply_builders` option to disable this, and then explicitly list and enable the builders you want. Note that if  the `kiwi` builder requires some other builders to run, doing this may break it.

[code]

[2021-06-22 15:40] jakemac53 commented on #3135
Yes those instructions they provide are not correct. I think maybe they were relying on a bug that used to exist where listing a builder had the same effect as just configuring it with `enabled: true`?

[2021-06-22 15:42] jakemac53 commented on #3135
Oh sorry I think I misread this initially, there isn't currently a way to list all of the builders that have been automatically recognized. But you could go look at your `.dart_tool/build/entrypoint/build.dart` file and see them.

[2021-06-22 15:46] kristijorgji commented on #3135
thanks, yes that does the job I can see exactly what is registered in my setup

[code]

I assume this file is generated as first thing on every builder run somehow, to make sure all new imported buiilder packages are registered.

[2021-06-22 15:55] jakemac53 commented on #3135
Correct it is regenerated before every run, and then we check to see if it was any different from previous runs. If it changed we re-compile it and throw away the previous build results and start over from scratch.

[2021-06-23 05:34] natebosch commented on #3132
Do you have a `json_serializable.build.yaml` file which is overriding the builder config?

[2021-06-23 13:35] Amr1440 commented on #3046
Same issue as @searchy2 :((

[2021-06-23 14:06] simolus3 commented on #3046
@searchy2 and @Amr1440, that message is coming from the `json_serializable` package and is not directly related to  `build_runner`.
Try using version 3.x of `json_serializable` or migrating your project to null-safety.

[2021-06-23 15:13] #3129 closed

[2021-06-23 18:30] MalteBoehm opened #4684 "Mocking of Dependencies won't work correctly"
Hey guys, I was trying to mock a **controller**, **service**, and the **HTTP client**

However, only the HTTP client worked and both other mocks always fail.

Anything i´m doing wrong?

Thanks for your help

**testing class**

[code]

**This is the not working Mock**
[code]

[2021-06-23 20:25] #4613 closed, assigned to nobody

[2021-06-23 20:26] #4785 closed, assigned to nobody

[2021-06-24 21:49] erf opened #3136 "Fail to build models"
flutter --version
[code]

pubspec.yaml
[code]

When i run: `flutter pub run build_runner build` i now get the following error message:

[code]

I have no idea what is causing this. I've tried to do a `flutter clean`, remove the other packages and also delete all the model files and most other dart files in my project, but i still get this error. I've also tried to delete the  `.pub-cache` folder.

[2021-06-24 22:11] natebosch commented on #3136
It looks like you are on an old version of `built_value`. Can you `flutter pub upgrade` and check that you have the latest `built_value`?

[2021-06-24 22:26] erf commented on #3136
Thanks! `flutter pub upgrade` solved it!

[2021-06-24 22:26] #3136 closed

[2021-06-25 12:54] acoutts opened #4685 "If a mocked class has a function where one of its parameters is a function, and one of the parameters of this function is a required named parameter, the generated mock is missing the 'required' keyword, but using a typedef generates the correct code"
Code demonstrating the issue:
https://github.com/acoutts/mockito-bug

Notice `foo_broken.mocks.dart` has a static analysis error because it's missing `required String b` on line 27:
<img width="669" alt="Screen Shot 2021-06-25 at 8 52 52 AM" src="https://user-images.githubusercontent.com/9597207/123427524-babfb700-d592-11eb-8dc3-69a0bf4e5a77.png">
https://github.com/acoutts/mockito-bug/blob/master

[2021-06-25 13:24] 0biWanKenobi opened #4686 "Cannot generate mock of class with mixin that overrides operator"
I am using Mockito 5.0.10, and I **do** have read about various fixes regarding operators override:

- https://github.com/dart-lang/build/issues/4640
- https://github.com/dart-lang/build/issues/4657

However, I'm still having issues when using `EquatableMixin `from the package [Equatable](https://pub.dev/packages/equatable).

I have a class like this:

[code]

EquatableMixin overrides the equality

[2021-06-25 18:55] annagrin commented on #3129
Thanks Jake, this helps us improve expression evaluation startup time!

[2021-06-26 11:15] Pante opened #4687 "@GenerateMocks fails with NavigatorState"
An error is thrown when generating a mock for Flutter's [`NavigatorState`](https://api.flutter.dev/flutter/widgets/NavigatorState-class.html).

[code]

Running `flutter pub build_runner build -v` with the above code snippet leads to the following error:
[code]

[2021-06-28 17:11] alexghiu opened #4688 "Running flutter analyze on generated mock results in "implementation_imports" failure."
Should the *.mocks.dart files contain an entry for `ignore_for_file: implementation_imports`?

I'm generating a mock for a service class that receives `http.Client` as a dependency. The generated mock (see sample below) causes `flutter analyze` to fail with `implementation_imports`.

[code]

Given that the generated mock already contains comments for suppressing rules, should `implementation_impor

[2021-06-28 17:33] technolion opened #3137 "build_runner fails on Windows with dependencies using git and path"
When using a dependency like this:

[code]

build_runner fails parsing the path correctly **on Windows**:

[code]

As one can see from the error, it looks like the `path` parameter of the `git` dependency leads to an encoded backslash (%5C) which somehow messes up build_runner.

The above way to add a dependency via git is an officially supported syntax:
https://dart.dev/tools/pub/dependencies

*

[2021-06-29 15:31] eyalkutz commented on #2441
I have encountered this error now. the bug should be reopened.

[2021-06-29 18:34] natebosch commented on #2441
If you are still seeing an issue here please try a `dart pub upgrade` (or `flutter pub upgrade` for flutter projects) and paste the output of `dart pub deps -s list` and the error when trying to run `dart run build_runner build -v`

[2021-06-29 19:05] eyalkutz commented on #2441
# ```flutter pub deps -s list```
[code]
# ```flutter pub run build_runner build -v```
I could not include the whole output as it was too large for powershell to handle so the beginning is lost. I will only include the end of the output:
[code]

[2021-06-29 19:33] jakemac53 commented on #2441
@eyalkutz that looks like a different issue - it looks like possibly `dart:ui` isn't being recognized for some reason? I would open up a new issue though.

[2021-06-29 20:08] eyalkutz opened #3138 "Error when running code generator"
<details>
  <summary><code>flutter --version</code></summary>

[code]
</details>

<details>
  <summary><code>flutter pub deps</code></summary>

[code]
</details>

the builder that I wrote is just supposed to verify that I can introspect on certain classes from the imported `cloud_firestore` library
I am using windows 10
<details>
  <summary><code>flutter pub run build_runner build -v</code></summa

[2021-06-29 21:09] jakemac53 commented on #3138
It looks like the build script itself is ending up with imports to `dart:ui`, which I don't think we support. I am not sure if the vm itself would support this or not.

Today we pass the `vm_platform_strong.dill` file as the platform dill, I am not sure what would happen if we passed in a flutter platform dill file, or if one exists.

cc @a-siva do you know if the vm would support this?

[2021-06-29 21:10] jakemac53 commented on #3138
@eyalkutz can you separate out your dependencies such that your builder doesn't import `dart:ui` (and nor do any of its transitive libraries)?. Knowing a bit more about the use case might be good.

[2021-06-29 22:41] a-siva commented on #3138
I believe in the flutter case the platform dill file includes dart:ui and so this would work for the flutter engine. In the case of the regular VM it would work for compilation but at runtime all the native entry points for dart:ui would not get resolved and so would end up with errors.

[2021-06-30 07:33] technolion commented on #3137
Sure:

[code]

The package is correctly installed in that directory:
![Bildschirmfoto 2021-06-30 um 09 32 10](https://user-images.githubusercontent.com/1611505/123920371-2a181b00-d986-11eb-97f1-8cda8d9227f2.png)

[2021-06-30 11:51] eyalkutz commented on #3138
The problem was caused by a transitive dependency on `cloud_firestore` which I had now removed.
I am leaving the issue open because as far as I know this limitation is not documented.

I am encountering a different error now:
<details>
<summary><code>flutter pub run build_runner build --delete-conflicting-outputs</code></summary>

[code]
</details>
should I open a separate issue for this problem?

[2021-06-30 14:38] jakemac53 commented on #3138
Can you run with `-v` to get a stack trace, that would help to know where to direct the issue

[2021-06-30 14:42] jakemac53 commented on #3137
Interesting... the package config looks fine.

[2021-06-30 14:54] technolion commented on #3137
Maybe another relevant piece of information is that I discovered this with a flutter project on Flutter's beta channel.

[2021-06-30 15:41] eyalkutz commented on #3138
# `flutter pub run build_runner build --delete-conflicting-outputs -v`
[code]

[2021-06-30 15:43] jakemac53 commented on #3138
This looks like an error in the `schemafull_firestore_generator` package, I would file an issue on that package.

[2021-06-30 15:46] eyalkutz commented on #3138
this is the package I am trying to develop... can you help direct me to the problem? the error message does not point to a line in my code.

[2021-06-30 15:47] jakemac53 commented on #3138
The line is in the stack trace:

[code]

[2021-06-30 15:48] jakemac53 commented on #3138
You may also want to see the docs on debugging a builder https://github.com/dart-lang/build/blob/master/docs/builder_author_faq.md#how-can-i-debug-my-builder. The final part is IDE dependent but that gets you to the point where you can run the build script like a normal app which should help.

[2021-06-30 15:50] eyalkutz commented on #3138
thank you @jakemac53 I will check the link out

[2021-06-30 16:08] technolion commented on #3137
I just switched to Flutter's  `stable` branch and can confirm, that the error does **not** appear!
Do you have an idea, what the cause can be?

[2021-06-30 16:10] jakemac53 commented on #3137
I do not yet, no. I haven't had a chance to dive into this but I will try and take a look in a bit.

[2021-06-30 16:14] jakemac53 commented on #3137
As far as I can tell though this is where we create the path https://github.com/dart-lang/build/blob/d8ffc57f19090e23c4e51ddaf1c9b7429db0aa82/build_runner_core/lib/src/package_graph/package_graph.dart#L92.

If you wanted to you could try some local debugging to see how the path looks at that point (check `package.root` and `package.root.toFilePath()` to see how they look).

You can see some initia

[2021-06-30 16:27] technolion commented on #3137
Thank you. I will try to debug it tomorrow. The vscode example config would definitely be of help, as I use this IDE.

[2021-06-30 16:37] jakemac53 commented on #3137
[code]

[2021-07-01 21:43] natebosch commented on #2441
It looks like maybe you have a builder which wants to import `dart:ui`? That isn't supported.

I'm not sure why the errors are reporting the usage of `Offset` instead of the missing import, but maybe the error about the missing import is further up....

[2021-07-02 03:10] #4683 closed, assigned to nobody

[2021-07-03 09:32] tjarvstrand opened #4689 "Code generation creates duplicate names"
Hi! I currently have code which looks something like this:

[code]

`AuthenticationRepository` internally uses `User` from the firebase_auth package whereas `UserRepository` (and most of the rest of my application) uses my own representation of a user. This currently results in code generation producing something like this:
[code]

Which gives me this error when trying to run the code: `Error: Can

[2021-07-03 15:54] jmewes commented on #1990
I came across this issue because i used `part './payload.g.dart';` instead of `part 'payload.g.dart';`. Removing `./` solved my problem.

[2021-07-05 20:19] NikoBoerger opened #4690 "Wrong generation of mock method with return type Future<Function>"
Hi,

having this class:
[code]

will result in the generated mock:

[code]

The _FakeFunction() parameter does not compile. It shows the error:
`The argument type '_FakeFunction' can't be assigned to the parameter type 'FutureOr<Function>?'.`

This seems like a bug in the code generation to me, is this right?

[code]
mockito: ^5.0.10
build_runner: ^2.0.5

[2021-07-07 20:45] #3138 closed

[2021-07-08 13:53] tolotrasamuel opened #4691 "@GenerateMocks imports types without taking conditional exports into account"
With the package `image_picker` that used conditional import,

[code]

In the generated mock file, it imports this line:

[code]

And then don't get an error by the static analysis but at compile time, we get this bigger error

<img width="1305" alt="Screenshot 2021-07-08 at 17 50 51" src="https://user-images.githubusercontent.com/29230303/124933568-0b182980-e015-11eb-8c2e-f1a5409b5a75.png">

[cod

[2021-07-11 03:50] jiaeric opened #4692 "Mocking properties with non-nullable type results in an error"
Mocking a getter of a non-nullable type results in an error when trying to set up the statement with "when".

  mockito:
    version: "5.0.7"

[code]

[2021-07-13 13:45] #4692 closed, assigned to nobody

[2021-07-14 22:21] natebosch commented on #1990
FYI we recently improved the messaging for this. On the latest source_gen the steps to resolve this should hopefully be more clear.

[code]

[2021-07-15 17:33] #4690 closed, assigned to srawlins

[2021-07-15 17:35] #4688 closed, assigned to srawlins

[2021-07-15 17:39] #4684 closed, assigned to nobody

[2021-07-18 18:02] #4691 closed, assigned to srawlins

[2021-07-20 22:44] smkhalsa commented on #1689
It seems like this issue keeps coming up not only for users of the build package itself (https://github.com/dart-lang/build/issues/1689, https://github.com/dart-lang/build/issues/2732, https://github.com/dart-lang/build/issues/3126, https://github.com/dart-lang/build/issues/1132), but also for users of many downstream packages.

For example:
https://github.com/dart-lang/source_gen/issues/508
https

[2021-07-21 10:42] simolus3 commented on #1689
I started playing around with this, but I wasn't sure if I got the semantics right. Maybe someone can help clarify if this is the behavior we want, I can then start working on a draft PR to evaluate.

The way I see it is that we essentially split build inputs into an (optional) directory matcher and a file extension matcher, right? So `lib/{{}}.dart` matches all Dart files recursively under `lib/`

[2021-07-21 16:43] #4687 closed, assigned to srawlins

[2021-07-21 16:43] #4640 closed, assigned to srawlins

[2021-07-21 21:08] insinfo opened #3150 "FileSystemException: Directory watcher closed unexpectedly"
FileSystemException: Directory watcher closed unexpectedly

* Dart SDK Version 2.12.4
* Whether you are using Windows / Linux
* Whether you are using Chrome

##### pubspec.yaml
[code]

[code]

[2021-07-21 21:10] insinfo opened #3151 "Failed to precompile build_runner:build_runner"
webdev build
[SEVERE] Failed to precompile build_runner:build_runner:
[SEVERE] /root/.pub-cache/hosted/pub.dartlang.org/analyzer-0.40.6/lib/src/error/best_practices_verifier.dart:258:50: Error: The property 'displayString' is defined in multiple extensions for 'TargetKind' and neither is more specific.
[SEVERE]  - 'TargetKind' is from 'package:meta/meta_meta.dart' ('/root/.pub-cache/hosted/pub.dar

[2021-07-22 08:30] TheYakuzo commented on #1676
Check if build_runner is up to date with :
**flutter pub outdated**

If not, run :
**flutter pub upgrade --major-versions**

It works for me

[2021-07-22 12:33] rhbrunetto commented on #3151
Had this same issue this morning. Turns out my flutter was on `2.4.0-4.0.pre`.

Downgrading flutter to `2.2.3` solved this issue.

[2021-07-22 14:17] jakemac53 commented on #3150
We can't unfortunately do much about this error - if you are seeing it regularly you can try using the `--use-polling-watcher` flag, but that may consume more resources than normal watch mode.

[2021-07-22 14:25] jakemac53 commented on #3151
The workaround for this is to upgrade analyzer if possible, and otherwise pin `meta` to an older version, I think `<1.7.0`.

[2021-07-22 15:05] insinfo commented on #3150
@jakemac53
yes i am seeing this regurlamnete after updating webdev and running pub update
What is causing this, as this problem did not occur before

[2021-07-22 15:30] jakemac53 commented on #3150
We are just handling an exception from your file system so it is a bit hard to say exactly what the issue is, but you may have ran out of file handles or something like that. It is possible that rebooting your computer could fix it also... maybe some rogue process somewhere is hogging a lot of file handles.

[2021-07-22 15:39] insinfo commented on #3150
Thank you very much for the feedback, I will check your suggestions

[2021-07-22 15:41] jakemac53 commented on #3150
Actually thinking more on this... @annagrin did we just release a webdev version that allows for higher parallelism when serving files? Maybe that is what is causing you to run out of file handles.

[2021-07-22 15:42] jakemac53 commented on #3150
@insinfo I think that change was specific to the mode that webdev uses for build_runner, could you try running normal standalone build_runner: `pub run build_runner serve web` and see if you still experience the issue? That might help narrow things down.

[2021-07-22 19:56] insinfo commented on #3150
I tested it with "pub run build_runner serve web" and "pub run build_runner build web" and it worked perfectly.

I took the test several times.
I found that the problem is only in the "webdev build" when run at odd time, at even time the error doesn't occur.

As can be seen in the log, the error only occurs the second time.

[code]

[2021-07-22 20:16] jakemac53 commented on #3150
That is very odd indeed that it is happening with `webdev build`. We should not even be setting up file watchers in that case?

[2021-07-22 20:18] jakemac53 commented on #3150
Re-opening as that seems like a different issue, maybe `daemon` mode always sets up watchers but I wonder if we can somehow avoid this.

[2021-07-22 21:50] insinfo commented on #3150
I downgraded dart 2.12 to 2.10 and ran some more tests and saw that with dart 2.10 the problem does not occur

[2021-07-22 22:02] insinfo commented on #3150
in Dart 2.13.4 the problem persists

[2021-07-23 14:50] jakemac53 commented on #3150
I think that probably this is related to your version solve (you likely got a _very_ different set of packages in 2.10).

[2021-07-23 14:50] jakemac53 commented on #3150
@annagrin I do think this is most likely related to the recent asset server change, given the timing and description.

[2021-07-23 15:49] jakemac53 commented on #1689
I wouldn't think of it as a directory/extension matcher really. You could for instance have extensions like: `lib/foo_{{}}.dart: [docs/foo_{{}}.dart]`.  This is really just a substring match for `lib/foo_`, followed by a capture group, and a suffix match of `.dart`. The substring match can be anything, not just a directory, and its not a strict prefix match either (there can be stuff before it, so

[2021-07-24 12:16] daniel-v opened #3153 "Build performance - where is the bottleneck?"
[code]

Hello there!

I wanted to see if I could gain some compilation speed for my web projects that heavily rely on build_runner and builder ecosystem. Figured, more memory, faster CPU or maybe some M.2 SSDs could help. But first, I wanted to see if spending money is worth it, so I set up a VM and started playing around.

## Methodology

Set up a VM which received 14G RAM and different number of

[2021-07-26 13:16] ikurek commented on #2835
I can confirm, that issue is still present with `generate: true` and `synthetic-package: false`. Is there any workaround other than disabling autogeneration?
[code]

[2021-07-26 15:41] jakemac53 commented on #3153
Normal builders are all single threaded - unless the builder itself does multi-threading. This is because they all share an analysis context, which we can't share across isolates/processes. We do use multiple process for compilation (in build_web_compilers for instance), but not for code generation.

Angular specifically relies very heavily on the analyzer - it fully resolves all files in your pac

[2021-07-26 20:10] annagrin commented on #3150
Looking!

[2021-07-26 21:30] annagrin commented on #3150
We released dwds 11.1.2, but webdev from `pub global activate` and SDK 2.13.4 brings dwds version dwds 11.0.2 for me, so it does not contain my latest changes to the http clients.

@insinfo I tried to repro the failure in `example` directory (on mac and windows) with the same dependencies listed above, with SDK 2.12 and 2.13.4, no luck. Is it possible to share your repro with us?

@jakemac53 On wi

[2021-07-26 21:34] jakemac53 commented on #3150
That is normal output from pub after updating your sdk (its a bit weird but... 🤷‍♂️ )

[2021-07-26 21:35] jakemac53 commented on #3150
If we aren't pulling down the latest asset server changes @annagrin then you probably don't need to investigate much further yourself (its also fairly unlikely you will be able to actually reproduce the issue).

[2021-07-26 23:18] annagrin commented on #3150
@jakemac53 I don't know if it helps but I thought the watcher should restart on this failure, according to the fix for https://github.com/dart-lang/sdk/issues/38853. Not sure if something changed there...

[2021-07-27 06:42] daniel-v commented on #3153
@jakemac53 thank you for your answer!

I'm just trying to dig a bit deeper. You mentioned invalidation. I assume you are talking about cache invalidation which seems quite an important piece of incremental builds. Am I right in that assumption?

I purposefully limited the scope of exploring the code for a single use-case: CI/CD build times, first-builds, where there are no prior build caches, ever

[2021-07-27 15:55] insinfo commented on #3150
@annagrin
I put a copy without sensitive data of the project on github, to demonstrate the problem
https://github.com/insinfo/cmpop/tree/main/cmpop_browser

[2021-07-27 18:15] jakemac53 commented on #3153
Correct, its about knowing what files need to be regenerated when a given file changes. Today this requires an explicit edge to be set up from any given file to all the files it needs to invalidate (we call these its "outputs").

Yes, fwiw this is not the case we optimize for today, as it is considered the less important case than the incremental build case, which is the more common dev experience

[2021-07-27 19:02] daniel-v commented on #3153
Once again, thanks for taking the time to answer.

Don't worry about Angular. It was the easiest to access as build heavy package.

M.. macros? I stutter a bit when I say that word. Is this different from static metaprogramming?

[2021-07-27 20:01] simolus3 opened #3154 "Add `expectedOutputs` getter to `BuildStep`"
Having an `expectedOutputs` getter (returning an `Iterable<AssetId>`) on `BuildStep` would help builder authors to determine which assets to emit.

A lot of builders know that they will emit one asset per primary input, so doing `buildStep.writeAsString(buildStep.expectedOutputs.single,)` may be easier than manually changing the extension. This will especially true for builders using capture group

[2021-07-27 20:38] jakemac53 commented on #3154
This LGTM, no I don't think new methods on BuildStep should be breaking (I believe we have only one impl).

However, we could implement this as an extension to avoid that?

[2021-07-27 20:38] jakemac53 commented on #3154
Fwiw I had the same thought, especially with capture groups, it gets a bit more complicated :).

[2021-07-27 20:42] jakemac53 commented on #3153
Macros are the current thinking for how we want to enable static metaprogramming, yes.

[2021-07-27 20:44] jakemac53 commented on #3153
I am going to close this issue as I don't think there is anything we are planning to do in this space currently.

[2021-07-27 20:44] #3153 closed

[2021-07-27 22:07] annagrin commented on #3150
it was resolved in the dart-lang/watcher, which just restarted the watcher recursively as infinitum. But I does not seem to restart here, I am not sure why.

Yeah I have seen something like that in situations when the daemon from the first run was still running and the second one would connect to it, not sure if this is possible here as I am not very familiar with the implementation details. In my

[2021-07-27 22:13] annagrin commented on #3150
Update: brushed up on `webdev build` implementation details:) I does indeed use the daemon, so I wonder if the problem is that the daemon does not exit after the build is done. @insinfo let me know if killing dart processes in between build  helps in your case.

[2021-07-27 22:15] annagrin commented on #3150
forgot to anser this:

I run it on my windows laptop. I will try to repro now that I have your code.

[2021-07-28 00:30] annagrin commented on #3150
@insinfo I can very predictably repro the issue on my windows laptop using your code. There are no dart processes left in between runs, so it looks like the issue is not due to webdev setup.

@jakemac53 I think the issue might be in the build_runner after all.

[2021-07-28 10:28] simolus3 commented on #3154
I've actually considered making it an extension, but I didn't find a good way to do so because the originating builder is not part of the `BuildStep`. We could make it an extension function on `Builder` that takes an asset or a `BuildStep` as parameter, but IMO that's not quite as convenient.

[2021-07-28 17:16] insinfo commented on #3150
yes, deleting the directory every time it compiles, the error doesn't occur

[code]

[2021-07-28 21:14] jakemac53 commented on #3150
Ok, so it seems like the problem is to do with that `build/` directory. Note that you can use I think `--output=NONE` to disable this.

I don't know what would cause this to not occur on older sdks though.

[2021-07-29 01:38] annagrin commented on #3150
The fix that was done in watcher just restarted it forever, but it seems like it does not anymore in this example. I wonder if something changed in the watcher or the use of it...

[2021-07-29 01:45] annagrin commented on #3150
@jakemac53 Is it possible to configure the watcher in build_daemon not to monitor that directory?

[2021-07-29 01:55] jakemac53 commented on #3150
It isn't practical to unfortunately, no. We can't  exclude certain dirs from the watcher. And we have to watch the root dir of the package to detect file/directory changes at that level.

[2021-07-29 02:11] annagrin commented on #3150
@jakemac53 I've got a theory - could it be this change: https://github.com/dart-lang/build/pull/2505
Looks like we exit immediately after watcher reports its error, so it it does not help that it is restarting...

https://github.com/dart-lang/build/blob/372dce1d7d04deb254d1db5ad433bbcaf3a7c471/build_runner/lib/src/watcher/graph_watcher.dart#L64

[2021-07-29 09:51] #3154 closed

[2021-07-29 10:09] simolus3 opened #3156 "Add predefined copy builder to `package:build`?"
This is more of a discussion than a feature request, I'm wondering what your thoughts on this are.

It looks like we're about to support directory moves for builders. But today, all builders emit outputs in the same directory as their primary input. Given the popularity of that feature, I can imagine that there will be pressure for each builder to support emitting files in a designated directory a

[2021-07-29 12:55] tmatrai opened #3157 "Bad state: No element when running pub run build_runner build"
[](flutter pub run build_runner build --delete-conflicting-outputs
[INFO] Generating build script...
[INFO] Generating build script completed, took 454ms

[INFO] Precompiling build script......
[INFO] Precompiling build script... completed, took 5.7s

You have hit a bug in build_runner
Please file an issue with reproduction steps at https://github.com/dart-lang/build/issues

Bad state: No element

[2021-07-29 12:59] tmatrai commented on #3157
Detailed info by running -v option

flutter pub run build_runner build --delete-conflicting-outputs -v
[  +79 ms] executing: sysctl hw.optional.arm64
[  +14 ms] Exit code 1 from: sysctl hw.optional.arm64
[        ] sysctl: unknown oid 'hw.optional.arm64'
[   +5 ms] executing: [/Users/mt/developer/flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +14 ms] Exit code 0 from: git

[2021-07-29 15:26] jakemac53 commented on #3157
This looks like an issue with the swagger_dart_code_generator package, please file an issue at https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/new.

[2021-07-29 15:26] #3157 closed

[2021-07-29 15:34] jakemac53 commented on #3156
Configuring output extensions via an option in general I think doesn't work as expected, consider for instance what happens if you were to change that configuration. We would have already generated the asset graph with the previous config, and it would now be incorrect. But I am quite sure we wouldn't be able to adjust for it today.

Because of this, build extensions are not allowed to change toda

[2021-07-29 17:26] jakemac53 commented on #3150
Should we just be ignoring these errors? If we did, would the watcher would just restart?

[2021-07-29 19:56] simolus3 commented on #3156
That's a good point! I thought I remembered reading about build configurations being nodes in the asset graph that could be updated, but maybe I misunderstood something. Either way, if changes to a builder applications also change build phases it will be hard to do incremental rebuilds at all.

I think the solution with `protos/src/generated` should work well enough.

[2021-07-29 19:56] #3156 closed

[2021-07-29 20:04] jakemac53 commented on #3156
The builder options can be udpated (we create a synthetic node for the options object, and add a dependency on that).

But the configuration of the builder itself cannot be updated right now.

[2021-07-29 22:19] annagrin commented on #3150
I think so... but it would be nice to test:)

[2021-07-30 18:10] ZeroOneTV opened #3158 "Windows Path problem using build_runner"
Hi, could you help me with this problem?

# Problem information
* Windows 10 Pro • Version 20H2 (Compilation 19042.1110)
* Flutter 2.5.0-1.0.pre • channel dev • https://github.com/flutter/flutter.git
* Framework • revision 184e5871be (4 days ago) • 2021-07-26 04:38:02 -0400
* Engine • revision a877f6fed6
* Tools • Dart SDK version: 2.14.0-350.0.dev (dev) (Fri Jul 23 20:45:53 2021 -0700) on "window

[2021-07-30 21:20] natebosch commented on #3158
https://github.com/dart-lang/pub/issues/3012 appears to be the correct place to track this issue. I don't see anything here that requires changes in the `build` repo.

[2021-07-30 21:20] #3158 closed

[2021-08-02 18:16] #1689 closed

[2021-08-02 18:54] jakemac53 opened #3160 "source_gen tests broken by making BuildStep sealed"
See https://github.com/dart-lang/source_gen/blob/07327d7c3fac3e7d6940817ec1fba3dda09ac6ea/source_gen/test/builder_test.dart#L663.

We should see if we can rewrite the test a different way, or if we should unseal the class.

cc @simolus3 @kevmoo @natebosch

[2021-08-02 19:05] simolus3 commented on #3160
The `_TestBuildStep` is only used in [this test](https://github.com/dart-lang/source_gen/blob/07327d7c3fac3e7d6940817ec1fba3dda09ac6ea/source_gen/test/builder_test.dart#L555-L565), which looks straightforward to replace with `runBuilder`. I can open a PR for that.

IMO making `BuildStep` sealed is justified because we don't consider adding new methods to it breaking, so we should communicate that

[2021-08-02 19:10] jakemac53 commented on #3160
Sounds good to me 👍 . I agree sealing it is best.

[2021-08-02 19:57] #3160 closed

[2021-08-02 22:38] jakemac53 commented on #1689
This is now released with package:build version `2.1.0` and package:build_runner version `2.1.0` (you will also need package:build_runner_core `7.1.0` but that should be handled for you by other constraints).

Note that if you use `build_test`, you will also need to update to version `2.1.3` of that to get support.

Big thanks to @simolus3 for the implementation! 🥳 🚀

[2021-08-02 22:41] jakemac53 commented on #1689
Btw the docs for the new feature are here https://github.com/dart-lang/build/blob/master/docs/writing_a_builder.md#capture-groups

[2021-08-03 08:36] simolus3 commented on #683
Now that we support directory moves with build extensions, I think there's another reason to revisit this. A lot of users were interested in generating files into a fixed directory (e.g. `lib/src/generated`). On the other hand, some users may prefer relative files or may want to use a different directory for generated files.

One solution that I had in mind would be to make builder outputs configu

[2021-08-03 14:25] idrats opened #4503 "Please add // ignore_for_file: unnecessary_overrides to generated files or do not generate toString() overrides"
Because
[code]
is not allowed by strict analyser options

[2021-08-03 15:25] jakemac53 commented on #683
This has me wondering a bit whether we should actually just allow configuring it however builders choose through their own builder config (as opposed to an explicit setting for it).

We already track builder options as a node, and will invalidate the builders configured with that. We could track the build extensions configuration we got from the builder on that node as well. So I don't think we ne

[2021-08-03 16:52] jakemac53 commented on #3137
It looks like this is now a duplicate of https://github.com/dart-lang/pub/issues/3012 where the underlying issue is being tracked, going to go ahead and close this one.

[2021-08-03 16:52] #3137 closed

[2021-08-03 16:53] jakemac53 commented on #3132
Closing this as stale

[2021-08-03 16:53] #3132 closed

[2021-08-03 16:55] jakemac53 commented on #3126
@jaumard we did just release a "capture groups" feature which would enable you to place all the generated files in a separate directory at least. See some docs at https://github.com/dart-lang/build/blob/master/docs/writing_a_builder.md#capture-groups (you probably need multiple capture groups for your use case).

I am going to close this issue though as I don't think we will be further expanding t

[2021-08-03 16:55] #3126 closed

[2021-08-03 16:56] jakemac53 commented on #3125
Closing this as stale for now

[2021-08-03 16:56] #3125 closed

[2021-08-03 16:59] jakemac53 commented on #3064
Closing this issue as it seems stale now - the path dependency should hopefully resolve things once there is a valid pubspec in that generated directory.

[2021-08-03 16:59] #3064 closed

[2021-08-03 17:00] jakemac53 commented on #2993
Closing as stale

[2021-08-03 17:00] #2993 closed

[2021-08-03 17:01] natebosch commented on #683
My biggest concern is that we don't have a plan for supporting this in bazel and if any third party builders decide to take advantage of this we'd be unable to use them with bazel.

[2021-08-03 17:02] jakemac53 commented on #2952
This is outdated I think, we aren't seeing general timeout flakes.

[2021-08-03 17:02] #2952 closed

[2021-08-03 17:10] jakemac53 commented on #2894
Any idea what the state of this is? We don't have failing tests any more and it doesn't look like they are skipped to me.

I think maybe we can close the issue?

[2021-08-03 17:11] #2868 closed

[2021-08-03 17:11] #2860 closed

[2021-08-03 17:23] simolus3 commented on #683
Would it be possible to implement statically-defined extensions (individual to a builder and a target) in bazel? I see how they are more error prone than allowing this as regular build options, but if that's what can be supported across all implementations it might be worth it?

All outputs of a builder are either hidden or generated to source, right? So adding hidden files would typically happen

[2021-08-03 17:29] natebosch commented on #2894
The `Trace.current` is still broken which is what was impacting these tests. If we don't have tests impacted by that bug anymore we can close this issue. The `stack_trace` and SDK issues remain open.

[2021-08-03 19:22] #2794 closed

[2021-08-03 19:24] jakemac53 commented on #2894
It looks like we worked around the issue, going to close this one.

[2021-08-03 19:24] #2894 closed

[2021-08-05 14:34] #3150 closed

[2021-08-05 20:27] insinfo commented on #3150
https://github.com/dart-lang/build/pull/3167
It was not possible to use this solution as it is incompatible with angular

https://github.com/insinfo/app

[code]

[code]

 build_runner: ^1.10.4

[2021-08-06 04:58] #4689 closed, assigned to srawlins

[2021-08-06 07:16] TomWang1 opened #3168 "when i run flutter pub get"
pub `get`
Because every version of flutter_test from sdk depends on meta 1.3.0 and json_annotation >=4.1.0 depends on meta ^1.4.0, flutter_test from sdk is incompatible with json_annotation >=4.1.0.
So, because bili_app depends on both json_annotation ^4.1.0 and flutter_test any from sdk, version solving failed.
pub get failed (1; So, because bili_app depends on both json_annotation ^4.1.0 and flu

[2021-08-06 15:07] jakemac53 commented on #3168
You will  need to downgrade your dependency constraint on `json_annotation` to something which is compatible with your SDK.

You can try changing it to `any` instead of `^4.1.0`, see what version you get, and then put that version in as the constraint.

[2021-08-06 15:07] #3168 closed

[2021-08-07 21:38] youusuf commented on #2581
what if   i dont have any network inside .package?

[2021-08-09 20:28] natebosch commented on #683
Yeah, I think if we design it so that you can only override the entire extensions map it could work.

[2021-08-09 20:44] jakemac53 commented on #683
I am pretty opposed to overriding the whole map here. It will be quite difficult as a builder author to understand what the heck to do with the build extensions I think? In the extremely trivial case (one input, one output) it might be ok, but it gets very weird very fast for anything non-trivial.

As far as bazel goes we could require the static configuration _in addition to_ the builder configur

[2021-08-10 05:51] RoyalRajput18 commented on #2699
Same issue here, did you solve it? (i didn't find any solution here.)

[2021-08-10 14:38] jakemac53 commented on #2699
See the related issue https://github.com/dart-lang/package_config/issues/85.

If you manually delete your `.dart_tool/build` directory that should work I think.

[2021-08-11 14:00] 3990995 commented on #1740
delete pubspec.lock  and flutter pub upgrade and flutter pub get  fix

[2021-08-11 16:20] jakemac53 commented on #683
Doing a full clean build after extensions change would probably be fine, yes.

Do things just work in watch mode today as well as between manual builds?

[2021-08-11 19:27] simolus3 commented on #683
From a quick manual test with https://github.com/kevmoo/build_version/pull/21 it looks like it handles that gracefully.

[2021-08-11 19:47] jakemac53 commented on #683
Interesting, so do we actually need to change anything at all here? Does this "just work" today even though it wasn't really intended to?

[2021-08-11 20:08] simolus3 commented on #683
I was trying to store previous build extensions in the asset graph, and then halfway through I realized that we already support invalidating the build here lol. From https://github.com/dart-lang/build/issues/3156#issuecomment-889247604, I assumed it wouldn't work but from my limited manual testing it looks like all situations are handled as I'd expect them to.

I can open a PR to add integration t

[2021-08-12 11:30] xvrh opened #4504 "Add ignore_for_file: camel_case_types"
The latest version of the generator (5.0.14) appends a suffix to fake classes (ie: `_FakeMeasure_0`).

It triggers a `Name types using UpperCamelCase. camel_case_types` lint.

[2021-08-13 21:53] annagrin commented on #3150
@jake @insinfo is this really solved? Do we need to make an update in an earlier version of build_runner?

[2021-08-13 21:54] annagrin commented on #3150
Related: https://github.com/dart-lang/webdev/issues/1362

[2021-08-14 04:46] kam-ox commented on #2270
thanks

[2021-08-16 16:19] jakemac53 commented on #3150
I did backport this to an earlier version of build_runner yes (version `1.11.1+1` which we confirmed you can get with angular).

[2021-08-16 17:39] jakemac53 commented on #683
I am not sure what the ramifications of having the build extensions not match those in the `build.yaml` are either... this sort of implies we could completely drop them from the build.yaml potentially. I can't remember what actually reads those any more.

[2021-08-16 18:14] natebosch commented on #683
At this point just the `doctor` output I think?

At this point they only exist in `build.yaml` to reinforce that they need to be static. If we're dropping that push for compatibility with bazel we could consider removing them entirely.

[2021-08-16 18:43] jakemac53 commented on #683
It looks like we also use this for `required_input` ordering. So that could be problematic.

[2021-08-17 15:31] #683 closed

[2021-08-17 21:54] jakemac53 opened #3172 "Warn if configuring a builder which you don't have a direct dependency on"
When configuring a builder you should have a direct dependency on that builders package. This is because the configuration itself is a part of the API of the builder, and so you could be broken by a new release of the package, if it changes its configuration in a breaking way.

[2021-08-19 05:34] daniel-v opened #3173 "Change to conditional imports broke web platform"
@jakemac53 's changes in #3170 as a response to @mraleph 's issue of https://github.com/dart-lang/sdk/issues/46918 has had some side effects.

Namely, I cannot build any of my projects that depend on conditional imports to differentiate between VM and web platforms.
A good example would be [package:universal_html](https://pub.dev/packages/universal_html) that is publicly available.

- Dart SDK ver

[2021-08-19 13:52] insinfo commented on #3150
Has this version 1.11.1+1 been published?

[2021-08-19 14:32] jakemac53 commented on #3150
Yes

[2021-08-19 14:42] jakemac53 commented on #3173
The example you have shown was never intended to work. I think there was a bug where we allowed conditional imports/exports of `dart:` libraries if the _default_ import was a `dart:` library.

I would forward fix the package to export a library that exports `dart:js`.

[2021-08-19 14:42] jakemac53 commented on #3173
Note that if you attempted to compile for the vm (with build_vm_compilers) I am quite sure it would not have worked.

[2021-08-19 14:50] #3173 closed

[2021-08-21 21:29] markokosticdev opened #3176 "Rename or generate files with different extension"
OS: MacOS
Browser: Chrome
Dart:  2.13.4
build_runner: 2.1.1

I am unable to rename or generate files with a different extension.
Is there plugin or some other way to do it?
Is it a generalized way or not?

I am using **injectable_generator**, **auto_route_generator** and **json_serializable**.

build.yaml
[code]

[2021-08-24 05:29] matthew-carroll opened #4505 "Can't generate mocks in custom test directory"
I maintain a number of test directories because I have some tests that I don't want Flutter to execute by default. For example, a project might have the following directories:

- /test
- /test_goldens
- /test_comms

When I run build_runner against `@GenerateMocks` in `/test_goldens` and `/test_comms`, nothing is generated. I assume that this is because build_runner only looks in specific directori

[2021-08-25 15:38] jakemac53 commented on #3176
I am going to close this for now but if that didn't solve your problem we can re-open it :)

[2021-08-25 15:38] #3176 closed

[2021-08-27 00:38] bartekpacia opened #4506 "How to verify if setter was called?"
Let's say that I have some setter:

[code]

Now, in tests, I'd like to verify that it was called twice. I tried out 2 approaches:

1.
[code]

2.
[code]

but it doesn't work, because it is not a callable function (?), like, with the parentheses (forgive me, I am not a Dart expert).

Is it solved (if yes, there should be info in README about this behavior), and if not: are there any workarounds and

[2021-08-27 00:44] #4505 closed, assigned to nobody

[2021-08-27 01:16] annagrin opened #3177 "Webdev build daemon crashes on windows due to removal of pub.dart.snapshot from the SDK"
`pub.dart.snapshot` was removed from the SDK starting from SDK version `2.15.0-49.0.dev`

SDK commit: dart-lang/sdk@ae81cd5

Webdev is using `dart  pub.dart.snapshot build_runner build` command to make sure we can communicate to the build daemon - see:

https://github.com/dart-lang/webdev/blob/a0b8e2b062fa8cfafc3c410259e934322cc4dde6/webdev/lib/src/daemon_client.dart#L19

In particular, the commen

[2021-08-28 00:10] annagrin commented on #3177
Thanks for help, removing `pub` from the command fixed the windows issue:

https://github.com/dart-lang/webdev/pull/1394

Closing this.

[2021-08-28 00:10] #3177 closed

[2021-08-28 00:19] annagrin opened #3180 "build_daemon does not support `--enable-experiment` option."
### Repro:

**main.dart**

[code]

**pubspec.yaml**

[code]

**Command**

`webdev  serve --debug -- --enable-experiment=constructor-tearoffs --verbose`

**Output**

[code]

[2021-08-31 10:30] bornold opened #4507 "Mocking ScrollPosition generates wrong default parameters"
Maybe related to https://github.com/dart-lang/build/issues/4861

To reproduce:
1. Clone https://github.com/bornold/mockito_gen_bug
2. run `flutter packages pub run build_runner build     `

Problem here: https://github.com/bornold/mockito_gen_bug/blob/0e61f07d48c598ef47b7e8ea2b75928834de14a2/test/scroll_position.mocks.dart#L204
[code]
Which should be:
[code]
Problem discription
[code]

[2021-09-02 10:07] llfbandit opened #4508 "Typed parameters are not correctly generated"
With version 5.0.15. (not tested with previous versions)

For an annotation like this:
[code]

The generated mock definition looks like this:
[code]

It should generate it with `_i12.Location` typed parameter alias:
[code]

[2021-09-02 18:13] annagrin opened #3184 "build runner and build daemon do not emit warnings from the build"
I tried to write a test for properly handling the `--enable-experiment`  option in build daemon and discovered that warnings are not emitted from the compiler. Same for build runner.

See: https://github.com/dart-lang/build/pull/3183
In particular, discussion in the comments: https://github.com/dart-lang/build/pull/3183/files/286019b0881bf346af7d2278d46a1e7a69e3f99d#diff-52928f64ac1f76149efee2f723

[2021-09-02 18:50] annagrin commented on #3180
Closed by: https://github.com/dart-lang/build/pull/3183

[2021-09-02 18:50] #3180 closed

[2021-09-03 15:06] #4507 closed, assigned to nobody

[2021-09-03 16:46] simolus3 opened #3186 "Consider dev-dependencies of non-root packages in some cases"
When constructing a package graph, we only consider regular dependencies for packages that aren't the root package. I think this is fairly reasonable in general (after all, dev-dependencies aren't transitive), but it sometimes makes it counterintuitive as expected builders are not applied.

Consider a builder`a` writing hidden outputs and `b` writing to source, assuming that both auto-apply to dep

[2021-09-03 17:34] jakemac53 commented on #3186
I don't think we want to try and specialize for this. It would likely cause more confusion than anything I think.

We do have a sort of similar issue here also https://github.com/dart-lang/build/issues/3113

[2021-09-03 18:12] #3186 closed

[2021-09-07 09:53] helianthus1120 opened #4509 "Verify failed when dio.post() is called with parameter 'options'"
**Envs:**
mockito: ^5.0.15
build_runner: ^2.0.2
test: ^1.16.5

**Purpose:**
Verify a post request with parameter 'options', is called ever.

**Problem desc:**
I don't know how to apply correct parameters to make verify passed, please help me.

**Error message:**

**Code:**

Annotation of Dio class.
[code]
Mocked client.
[code]

Use Mockito to return a successful response when it calls the provided

[2021-09-10 11:26] JensHor opened #3188 "build_runner throws errors when executed on libraries importing Flutter"
I am using `build_runner` within a package which requires the flutter SDK. However, running `build_runner` throws error messages indicating that flutter types and properties are not correctly understood.

For instance I see the following error message:

For the whole error log see the the file below:
[log.txt](https://github.com/dart-lang/build/files/7143415/log.txt)

I am assuming that running `b

[2021-09-10 14:19] jakemac53 commented on #3188
The build script itself is not allowed to import flutter - it is a VM app and not a flutter app (so `dart:ui` is not available).

You should move your builder code into a separate file from your app code (one that doesn't import flutter or dart:ui), and then it should work.

[2021-09-10 14:19] #3188 closed

[2021-09-10 17:51] #4504 closed, assigned to nobody

[2021-09-10 23:01] #4508 closed, assigned to srawlins

[2021-09-12 14:34] wondertalik opened #4510 "check that method finished without throw"
Hello, how can i check that method finished without throw?

For example
[code]
So, i want to know that add method executed ok. Thanks.

[2021-09-14 21:07] #4510 closed, assigned to nobody

[2021-09-14 23:10] #4506 closed, assigned to nobody

[2021-09-16 07:16] Lyokone commented on #2835
Hi,
For our project, we only needed to create an empty `pubspec.yaml`
[code]

here: `.dart_tool/flutter_gen/pubspec.yaml`
And the problem went away.
Not sure what caused this issue in the first place tho :/

[2021-09-16 07:48] jpnurmi commented on #2835
I'm curious, what's your reason for using `generate: true` together with `synthetic-package: false`? Isn't the former specifically for synthetic packages? With non-synthetic packages you'd run `flutter gen-l10n` yourself, right? Or did I miss something?

[2021-09-16 14:46] dalewking commented on #2835
Generate: true just means to generate automatically when doing a build. synthetic-package just specifies what to generate. They are completely separate and nothing tying them together. There is nothing that implies automatic generation only applies to generation of synthetic packages.

The point is that I do not want to have to run the generation manually and I want it generated in a directory whe

[2021-09-16 15:31] jpnurmi commented on #2835
Ok, thanks for the explanation. So the problem is that the two are connected in the flutter tool.

If `pubspec.yaml` has `generate: true`, the flutter tool assumes that the synthetic package is generated and adds `flutter_gen` as a dependency to `.dart_tool/package_config.json`. However, if `l10n.yaml` has `synthetic-package: false`, there won't be any synthetic package generated to `.dart_tool/fl

[2021-09-17 07:47] ziqq commented on #1676
I have this problem.
`flutter pub run build_runner build --delete-conflicting-outputs
Failed to precompile build_runner:build_runner:
/C:/Users/ziqq/AppData/Local/Pub/Cache/bin/hosted/pub.dartlang.org/dart_style-2.1.0/lib/src/source_visitor.dart:1809:31: Error: Type 'FunctionReference' not found.
  void visitFunctionReference(FunctionReference node) {
                              ^^^^^^^^^^^^^^^^

[2021-09-17 09:21] ziqq opened #3190 "Failed to precompile build_runner"
I have this problem whene i run run build_runner

flutter pub run build_runner build --delete-conflicting-outputs
Failed to precompile build_runner:build_runner:
/C:/Users/ziqq/AppData/Local/Pub/Cache/bin/hosted/pub.dartlang.org/dart_style-2.1.0/lib/src/source_visitor.dart:1809:31: Error: Type 'FunctionReference' not found.
void visitFunctionReference(FunctionReference node) {
^^^^^^^^^^^^^^^^^
/C

[2021-09-17 11:48] ziqq commented on #3190
If i update flutter to 2.5.0
I try pub get again and again but it dosent have any success

<details>
      <summary><code>flutter --version</code></summary>

      Flutter 2.5.0 • channel stable • https://github.com/flutter/flutter.git
      Framework • revision 4cc385b4b8 (9 days ago) • 2021-09-07 23:01:49 -0700
      Engine • revision f0826da7ef
      Tools • Dart 2.14.0
</details>

<details>

[2021-09-17 12:01] ziqq commented on #3190
I update buld_runner to latest vesion but it dosent have any success to :(((

[2021-09-17 12:09] ziqq commented on #3190
I recoed the video. Try to show what i try get packages again and again but...

https://recordit.co/ivXqJiqwUX

[2021-09-17 14:02] ziqq commented on #3190
I have answer U NEED TO USE

dependency_overrides:
  dart_style: 2.0.3

[2021-09-17 14:44] jakemac53 commented on #3190
cc @munificent I think this is related to the bad dart_style version? I can't remember the details exactly, but you could also try a `flutter pub upgrade` instead of a `flutter pub get`. I think you need a newer analyzer version in order to not have that version of dart_style.

[2021-09-17 21:36] agreaves opened #3191 "dart2js still using unsound null safety on a NNBD library"
Dart SDK Version: 2.14.0
Packages: **build_modules-4.0.2**, **build_runner-2.1.2**, **build-2.1.0***

We're generating JS code from a directory that has been completely migrated to sound null safety, running the following lines:
[code]

The problem is, despite not specifying unsound null safety (and even passing in arguments for **sound_null_safety** explicitly), we're still getting errors of the

[2021-09-18 09:15] AlexandrKedrov opened #4511 "Can't stub generic function with nested function param of unknown type"
Code:

[code]

Error:
[code]

Call stack:
![image](https://user-images.githubusercontent.com/20287007/133883331-7260c5be-61d9-4268-a9df-818ffe1f082b.png)

Problem is that neither `hasFallbackGenerator` nor `isParameter` passed to the second `_checkFunction` call.

As stubbing generic function with `Map<>` or `T Function() ` should work(at least I hope so according to the current implementation), i

[2021-09-20 11:52] f0rx commented on #2701
So i had a similar issue with `floor` and `freezed`. Where the `floor_generator` runs before `freezed`.
#### What i tried:
- I tried adding `runs_before:` to my build.yaml as suggested by @natebosch but that didn't work.

#### What worked for me:
I added the line `required_inputs: [".freezed.dart"]` to the `package:floor_generator/build.yaml` file, under `builders:`. This turned out well after run

[2021-09-27 19:17] jakemac53 commented on #3191
@agreaves what is your `build_web_compilers` version?

[2021-09-28 02:52] AlexV525 opened #3193 "Support for the `include` keyword to include other YAML files"
* Dart SDK Version: `2.14.2`
* Packages using: `json_serializable: ^5.0.0`
* Builders:
[code]

I'm using a base package to store our base configurations currently, e.g. analysis options. The structure may looks like this:

[code]

Now I'm trying to use the `include` keyword to include the base `build.yaml` from our base package in projects, instead of writing the same builder everywhere. But I've

[2021-09-28 09:18] quanbui1998 opened #4512 "Support 'Object operator ==(dynamic other))'"
I use a library but it is write a class which override operator ==(dynamic other) so dart display error:

`'Object.==' ('bool Function(Object)') isn't a valid concrete implementation of 'Record.==' ('bool Function(dynamic)').`

[code]

Can you fix `mockito` for support  ` operator ==(dynamic other)`? Thanks!

[2021-09-28 16:13] jakemac53 commented on #3193
We would need to define the merging strategies for these files (what if they both configure the same builder?). For every configuration option we would need to decide on and specify the merging strategy.

I don't really see this as a high priority for us, but if you (or somebody else) would like to drive the work here we would likely be open to external contributions. cc @natebosch what are your t

[2021-09-28 17:46] natebosch commented on #3193
I'm having a hard time imagining a good strategy for doing _anything_ sensible while merging `targets`. I think a general `include` approach is not feasible.

I could imagine supporting this case with `include_global_builder_config` (maybe a shorter name though) where the included config becomes another level in our merging strategy.

https://github.com/dart-lang/build/blob/master/docs/faq.md#how-

[2021-09-28 17:54] jakemac53 commented on #3193
Ya, I don't really see what we would do for merging targets either. If the src globs don't match up then its pretty difficult to imagine what we would do.

We could maybe support an option that doesn't allow you to specify anything other than an `include` line - basically just making the build file be a symlink to a different one.

[2021-09-28 17:56] natebosch commented on #3193
We could also maybe disallow overlapping top level keys, so if the `include` could define `targets`, you could only define `builders` and `global` locally. I think my preference still leans towards it being explicitly a new level of config. It does mean it would be a different format for the included files - at the top level would be builder keys mapped to config.

[2021-09-29 05:21] AlexV525 commented on #3193
Yeah I would say symlinks would be a reasonable and proper workaround for now, which should be better than an YAML that only has a single line with `included`.

I'm not familiar with these keys. IMO those top level (or maybe plus the second level) keys can be merged between multiple includes. After that, we should throw exceptions when detected conflict keys.

Here's a pseduo example for the best

[2021-09-29 05:46] miduldesigner commented on #2270
Cannot create link, path = 'D:\flutter\.pub-cache\_temp\dir323ce055\ios\Classes\FLTPackageInfoPlugin.m' (OS Error: A required privilege is not held by the client.
, errno = 1314)
pub get failed (66; , errno = 1314))

how can i solve this error/

[2021-09-29 14:27] jakemac53 commented on #3193
The problem with those examples is it only works if you only use the `$default` target and don't alter anything other than the builder configuration. Even then it only works if you don't also set the `generate_for` globs in the builder configuration I think.

It isn't clear how to merge any of those other things.

[2021-09-29 16:31] natebosch commented on #2270
@miduldesigner - this is not the correct repository for issues running flutter tools.

You might be able to find some help on stack overflow or from the flutter issue tracker.
See, for example, https://github.com/flutter/flutter/issues/66973
Or perhaps your current flutter install is in a directory that is restricted and needs to be moved. See the warning about elevated privileges at https://flutt

[2021-09-29 22:23] annagrin opened #3196 "Handle asynchronous errors in `serveRequests` calls"
`serveRequests` does not run its code in a `runZonedGuarded` if there is another zone in the call chain, which changes the logic of the calling code. Also, would help diagnose problems if the call was wrapped in `Chain.capture` to provide all async traces on exception:

See discussion in https://github.com/dart-lang/shelf/issues/202
See similar issue fixes in https://github.com/dart-lang/webdev/pu

[2021-09-30 05:30] AlexV525 commented on #3193
For sure, but I can't tell more since I'm not familiar about it. Maybe it can be worked as the analysis options with some magic. 👀

[2021-10-01 20:58] kenzieschmoll opened #3200 "Latest build runner publish causing issues when imported from a non-null-safe package"
[code]

This is from the DevTools build. See https://github.com/flutter/devtools/pull/3420/checks?check_run_id=3771809219

[2021-10-01 21:18] icfilho commented on #3200
same error here

[2021-10-01 21:30] rmargolinross commented on #3200
Also seeing this issue. Is there a way to work around it somehow?

[2021-10-01 21:35] kenzieschmoll commented on #3200
Looks like a fix was landed and published: https://github.com/dart-lang/build/pull/3201. This is resolved for me now after upgrading

[2021-10-01 21:35] rmargolinross commented on #3200
I have found that including a reference to `build_runner_core: 7.2.2` will fix the issue, though it should not be needed

[2021-10-01 21:53] natebosch commented on #3200
A `dart pub upgrade` or `flutter pub upgrade` should resolve this. @jakemac53 published a corrected version.

[2021-10-01 21:53] #3200 closed

[2021-10-04 16:39] jakemac53 opened #3202 "Unskip tests that expect InconsistentAnalysisExceptions"
See discussion in https://github.com/dart-lang/build/pull/3199. These are skipped for now until analyzer starts throwing the error again or we can figure out a better way to repro the test.

[2021-10-05 15:48] prajwal27 opened #4513 "Bad state: Cannot call `when` within a stub response"
I have 4 tests in this file. I've tried to use mockito and it results in this error.

[code]

This is the error I get. Is there anything wrong in the implementation?
[code]

[2021-10-07 14:55] Flavio-Vieirastack opened #4514 "stub error in a post test with http library"
hello guys I'm trying to test the get method using mockito, but it's giving me this error and I don't know what to do, can someone help me?
code:

import 'package:faker/faker.dart';
import 'package:http/http.dart';
import 'package:mockito/annotations.dart';
import 'package:mockito/mockito.dart';
import 'package:test/test.dart';

import 'http_adapter_test.mocks.dart';

class HttpAdapter {
  final C

[2021-10-07 20:06] Agondev opened #3204 "Move Everything Into 'gen' Folder"
### Having generated content mingle with what we interact with can be both distracting and an annoyance to manage, especially when there are a lot of generated files.

# Proposed solution:

## Move all generated files into a separate 'gen' folder for the purposes of separation of concern, organization, cleanliness, and maintainability of code.

#### So that, for example, instead of something like

[2021-10-08 15:24] #3204 closed

[2021-10-11 11:57] benfgit opened #4515 "Generator does not work with .g.dart classes"
When having following source code

**foo.dart**
[code]

**foo_bar.dart**
[code]

generated code is:
[code]

When the file name changed to _foo.g.dart_

**foo.dart**
[code]

**foo.g.dart**
[code]

Generated class is missing the `value`.

[code]

[2021-10-21 16:59] EhiltonKazuo opened #4516 "Can't use the verify method inside Stream and Stream callbacks"
I tried to follow the guidelines and i can only use verify in Future<Object/void> method. I'm beginner in clean architecture, strems and mockito.

So, how to implement the unit test to use verify inside the Stream method?

And how to implement the unit test to use verify inside the mock Stream (DevicePositionSpy)?

This is the code:
[code]

This is the error:
[code]

[2021-10-22 17:30] khainke opened #3210 "Can't get it running with GetX"
General Info Section:

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`):
Dart 2.14.2
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`):
build_runner: ^2.1.4
* What builder(s) you are using (or writing yourself). Try to give a short summary of what they do.
Generating Services and Cla

[2021-10-22 19:20] EhiltonKazuo opened #4517 "@GenerateMocks can't create a constructor in mongo_dart library"
I tried to use the default @GenerateMocks and customMocks properties, but both them can't generate the constructor mongo_dart library.

Here is the code:
[code]

The db.dart file
[code]

The mongo_dart_adapter_test.mocks.dart only has one constructor
[code]

[2021-10-22 22:01] #4516 closed

[2021-10-25 15:28] #3210 closed, assigned to nobody

[2021-10-26 00:22] andrew-palapa opened #4518 "Testing a line with await causes mockito to hang forever."
final downloadTask = _storage
          .ref('some_ref')
          .writeToFile(fileName;

      ...some code...

      await downloadTask;

So I was able to get to the await line by mocking the ref and writeToFile methods:

    when(mockFirebaseStorage.ref(any)).thenReturn(mockReference);
    when(mockReference.writeToFile(any)).thenAnswer((_) => mockDownloadTask);

But on the await line it just

[2021-10-29 00:44] #4518 closed, assigned to nobody

[2021-11-01 20:55] CaseyHillers opened #3212 "Dart import prefixes are not used in generated code"
I created a class:

[code]

Which then creates something like

[code]

It needs to carry over the prefix, otherwise the generated code does not run.

* Dart SDK Version (`dart --version`)

`Dart SDK version: 2.15.0-116.0.dev (dev) (Thu Sep 16 09:47:01 2021 -0700) on "linux_x64"`

* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)

`2.1.2`

* What builder(s

[2021-11-01 21:10] jakemac53 commented on #3212
This looks like an issue with `json_serializable`, I would file the issue over there https://github.com/google/json_serializable.dart/issues/new. I would transfer it but we can only transfer issues between dart-lang repos.

[2021-11-01 21:10] #3212 closed

[2021-11-02 04:13] vakenbolt commented on #2808
Hello all 👋

Run the following command to activate `webdev`
[code]

If you are still seeing the error then the pub cache is more than likely interfering with you updating to the latest `webdev`. To fix, simply remove your pub cache, like so:

[code]

and re-run `pub upgrade` and `pub global activate webdev`

Cheers!

[2021-11-02 16:06] CaseyHillers commented on #3212
This is a duplicate of https://github.com/google/json_serializable.dart/issues/678

[2021-11-04 07:45] AhmedZahidProgrammar opened #3213 "NoSuchMethodError: The method 'getDisplayString' was called on null. Receiver: null Tried calling: getDisplayString(withNullability: false)"
Thank you for taking the time to file an issue!

In order to route, prioritize, and act on this as soon as possible please include:

* Dart SDK Version (`dart --version`)
* What package(s) from this repo you are using, and the version (i.e. `build_runner 0.7.12`)
  * _If you are not sure, try checking your `pubspec.lock` file._
* What builder(s) you are using (or writing yourself). Try to give a s

[2021-11-04 14:36] jakemac53 commented on #3213
Can you please provide more information, such as all the information requested in the issue template as well as a full stack trace?

[2021-11-08 09:30] git91895 opened #3215 "Has been failed"
Failed to build build_runner:build_runner:
c:/src/flutter/.pub-cache/bin/hosted/pub.flutter-io.cn/build_runner-1.11.5/bin/build_runner.dart: Error: Error when reading 'c:/src/flutter/.pub-cache/bin/hosted/pub.flutter-io.cn/build_runner-1.11.5/bin/build_runner.dart': File c:/src/flutter/.pub-cache/bin/hosted/pub.flutter-io.cn/build_runner-1.11.5/bin/build_runner.dart does not exist.
pub finished wi

[2021-11-18 11:13] egorikem commented on #2835
The issue is still there

[2021-11-18 12:33] #4515 closed, assigned to nobody

[2021-11-19 01:44] natebosch commented on #2835
It's hard to track down the current remaining issues in this thread.

Can somebody still facing difficulty here please open a new issue with a short but complete reproduction of the problem so that it is more clear what the current focus is?

[2021-11-28 18:22] andreiborisov opened #3217 "`build.yaml` schema"
It would be nice to provide a publicly available schema for `build.yaml` as currently VS Code extension assumes it's a completely different schema (when using schemastore.org) which leads to analyzer reporting errors incorrectly.

[code]

`build_runner: ^2.1.4`, however, it's more concerned to `build_config` I think.

Not applicable.

No.

[2021-11-29 12:12] andredealmei opened #4519 "@GenerateMocks wrong type on flutter_bloc"
`est/bloc_test.mocks.dart:57:37: Error: The parameter 'transformer' of the method 'MockCounterBloc.on' has type 'Stream<E> Function(Stream<E>,
Stream<E> Function(E))?', which does not match the corresponding type, 'Stream<E> Function(Stream<E>, Stream<E> Function(E))?', in the overridden
method, 'Bloc.on'.`

To see the full error, just clone [this repo](https://github.com/andredealmei/flutter_bloc